
<section>
  <div class="about-wrap">
    <div class="row">
      <div class="title"><span>Про нас</span></div>
      <div class="about">
        <div class="about__foto column large-6"><img src="./dist/images/slideritem.png" alt=""/></div>
        <div class="about__text column large-6">
          <p>Массажний Патруль Катуниной - это сообщество професионалов-единомышлеников, которые получают удовольствие от своей роботы, и находятся в постоянном развитии и усоверсшенствовании.</p>
          <p>Наши специалисты делают <a href="#">общий массаж</a>, тайский массаж, а так же много других <a href="#">програм массажа.</a></p>
          <p>Так же, мы занимаемся обучением массажа, и рады будем видеть в своей команде новых специалистов.</p>
          <div class="about__btn"><a class="btn btn_transp" href="#">Про нас</a><a class="btn" href="#">Навчання</a></div>
        </div>
      </div>
    </div>
  </div>
</section>