
<section>
  <div class="advanteges">
    <div class="row">
      <div class="title"><span>Чим ми круті</span></div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
    </div>
  </div>
</section>