
<section>
  <div class="catering">
    <div class="row">
      <div class="title"><span>Масажний кейтеринг</span>
        <div class="sub-title"><span>Организация массажных зон и проведение сеансов массажей </span></div>
      </div>
      <div class="catering-items">
        <article class="column large-4 medium-6">
          <div class="catering-item">
            <div class="catering-item__img"><img src="./dist/images/catering_item.png" alt=""/></div>
            <div class="catering-item__title"><span>Спортивні Події</span></div>
            <div class="catering-item__text">
              <p>Організація повноцінної масажної зони на вашому фестивалі під відритими небом чи приміщенні для всіх вікових груп населення</p>
            </div>
            <div class="catering-item__btn"><a class="btn btn_transp" href="#">Замовити</a></div>
          </div>
        </article>
        <article class="column large-4 medium-6">
          <div class="catering-item">
            <div class="catering-item__img"><img src="./dist/images/catering_item.png" alt=""/></div>
            <div class="catering-item__title"><span>Спортивні Події</span></div>
            <div class="catering-item__text">
              <p>Організація повноцінної масажної зони на вашому фестивалі під відритими небом чи приміщенні для всіх вікових груп населення</p>
            </div>
            <div class="catering-item__btn"><a class="btn btn_transp" href="#">Замовити</a></div>
          </div>
        </article>
        <article class="column large-4 medium-6">
          <div class="catering-item">
            <div class="catering-item__img"><img src="./dist/images/catering_item.png" alt=""/></div>
            <div class="catering-item__title"><span>Спортивні Події</span></div>
            <div class="catering-item__text">
              <p>Організація повноцінної масажної зони на вашому фестивалі під відритими небом чи приміщенні для всіх вікових груп населення</p>
            </div>
            <div class="catering-item__btn"><a class="btn btn_transp" href="#">Замовити</a></div>
          </div>
        </article>
        <article class="column large-4 medium-6"></article>
      </div>
    </div>
  </div>
</section>