
<section>
  <div class="contacts">
    <div class="row">
      <div class="title"><span>Бази Масажного Патруля</span></div>
      <div class="contacts-address clearfix">
        <div class="bases column large-6 medium-12">
          <div class="bases-title"><span>Бази</span></div>
          <div class="bases-items clearfix">
            <div class="bases-item column large-6 medium-6">
              <div class="bases-item__contact">
                <div class="bases-item__city"><i class="fa fa-map-marker" aria-hidden="true"></i><span>м. Київ</span></div>
                <div class="bases-item__address">
                  <p>Адреса:</p><a class="marker-link" href="#" data-markerid="0">вул. Набережно-Луговая 3 </a>
                </div>
              </div>
              <div class="bases-item__work-time">
                <div class="work-time">
                  <p>Час роботи:</p>
                  <ul>
                    <li>Пн-Пт 9-18</li>
                    <li>Сб-Нд 10-16</li>
                  </ul>
                </div>
                <div class="bases-item__phone">
                  <p>Телефон:</p><a href="#">(+38) 066 475 7299</a>
                </div>
              </div>
              <div class="bases-item__btn"><a href="#">Записатись<i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
            </div>
            <div class="bases-item column large-6 medium-6">
              <div class="bases-item__contact">
                <div class="bases-item__city"><i class="fa fa-map-marker" aria-hidden="true"></i><span>м. Київ</span></div>
                <div class="bases-item__address">
                  <p>Адреса:</p><a class="marker-link" href="#" data-markerid="1">вул. Набережно-Луговая 3 </a>
                </div>
              </div>
              <div class="bases-item__work-time">
                <div class="work-time">
                  <p>Час роботи:</p>
                  <ul>
                    <li>Пн-Пт 9-18</li>
                    <li>Сб-Нд 10-16</li>
                  </ul>
                </div>
                <div class="bases-item__phone">
                  <p>Телефон:</p><a href="#">(+38) 066 475 7299</a>
                </div>
              </div>
              <div class="bases-item__btn"><a href="#">Записатись<i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
            </div>
          </div>
          <div class="all-bases"><a href="#"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Всі бази Масажного Патруля</a></div>
        </div>
        <div class="partners column large-6 medium-12">
          <div class="partners-title"><span>Партнери</span></div>
          <div class="partners-items">
            <div class="partners-item large-6 medium-4">
              <div class="partners-item__name"><a href="#">Спорткулб “BANDA”</a></div>
              <div class="partners-item__address">
                <p>Адреса:</p><a class="marker-link" href="#" data-markerid="2">вул. Набережно-Луговая 3</a>
              </div>
              <div class="partners-item__phone">
                <p>Телефон:</p><a href="#">(+38) 066 475 7299</a>
              </div>
            </div>
            <div class="partners-item large-6 medium-4">
              <div class="partners-item__name"><a href="#">Спорткулб “BANDA”</a></div>
              <div class="partners-item__address">
                <p>Адреса:</p><a class="marker-link" href="#" data-markerid="3">вул. Набережно-Луговая 3</a>
              </div>
              <div class="partners-item__phone">
                <p>Телефон:</p><a href="#">(+38) 066 475 7299</a>
              </div>
            </div>
            <div class="partners-item large-6 medium-4">
              <div class="partners-item__name"><a href="#">Спорткулб “BANDA”</a></div>
              <div class="partners-item__address">
                <p>Адреса:</p><a class="marker-link" href="#" data-markerid="4">вул. Набережно-Луговая 3</a>
              </div>
              <div class="partners-item__phone">
                <p>Телефон:</p><a href="#">(+38) 066 475 7299</a>
              </div>
            </div>
            <div class="partners-item large-6 medium-4">
              <div class="partners-item__name"><a href="#">Спорткулб “BANDA”</a></div>
              <div class="partners-item__address">
                <p>Адреса:</p><a class="marker-link" href="#" data-markerid="5">вул. Набережно-Луговая 3</a>
              </div>
              <div class="partners-item__phone">
                <p>Телефон:</p><a href="#">(+38) 066 475 7299</a>
              </div>
            </div>
          </div>
          <div class="all-bases"><a href="#"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Всі партнери</a></div>
        </div>
      </div>
    </div>
    <div class="map">
      <div id="markers"></div>
      <div id="map-canvas">
        <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&amp;callback=initialize"></script>
      </div>
    </div>
  </div>
</section>