
<footer>
  <div class="footer">
    <div class="row">
      <div class="footer__logo column large-3 medium-4 small-12"><a href="index.html"><img src="./dist/images/logo.png" alt=""/></a></div>
      <div class="footer__menu column large-3 medium-4">
        <p>Швидкі посилання</p>
        <ul>
          <li><a href="#">Домашня</a></li>
          <li><a href="#">Новини</a></li>
          <li><a href="#">Про нас</a></li>
          <li><a href="#">Зв’язок</a></li>
          <li><a href="#">Курси</a></li>
        </ul>
      </div>
      <div class="footer__news column large-4 show-for-large">
        <p>Останні новини</p>
        <ul>
          <li><a href="#">
               BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
          <li><a href="#">
               BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
          <li><a href="#">
               BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
          <li><a href="#">
               BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
        </ul>
      </div>
      <div class="footer_contact column medium-4 hide-for-large"><span>Конатакти</span>
        <ul>
          <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
          <li><a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
          <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="footer__bottom">
        <div class="footer_copy">
          <sapn>Копірайт 2018 Массажний Патруль. Права захищено, Розроблено в <a href="#">LIONLINE</a></sapn>
        </div>
        <div class="footer_contact_bottom show-for-large"><span>Конатакти</span>
          <ul>
            <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
            <li><a class="hide-for-small-only" href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
            <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>