
<header>
  <div class="reveal" id="exampleModal1" data-reveal="">
    <div class="reveal" id="exampleModal3" data-reveal="">
      <h2>ВІДПРАЛЕНО!!!</h2>
      <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
    </div>
    <div class="popupForm clearfix">
      <form id="popup">
        <div class="form">
          <div class="title"><span>Записатись на Масаж</span></div>
          <p>Ім’я*</p>
          <input type="text"/>
          <p>Телефон*</p>
          <input type="text"/>
          <p>Місце</p>
          <select id="formAdrress">
            <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
            <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
          </select>
          <div class="popupForm__left column large-6 medium-6">
            <p>Дата</p>
            <input class="span2" type="text" value="02/16/12" data-date-format="mm/dd/yy" id="dp2"/>
            <p>Тип масажу</p>
            <select id="typeMassage">
              <option>Массаж спины</option>
              <option>Массаж спины</option>
            </select>
          </div>
          <div class="popupForm__right column large-6 medium-6">
            <p>На котру годину</p>
            <select id="formTime">
              <option>10.00</option>
              <option>12.00</option>
            </select>
            <p>Тривалість сесії</p>
            <select id="duration">
              <option>100 минут - 750 грн.</option>
              <option>100 минут - 750 грн.</option>
            </select>
          </div>
          <p>Коментар</p>
          <textarea></textarea>
        </div><span>Ми передзвонимо вам для уточнення деталей бронювання!</span>
        <div class="popupForm__btn">
          <button class="btn btn_yellow button success" type="submit" data-open="exampleModal">Записатись</button>
          <button class="btn" id="btn_resset" type="button">Відміна</button>
        </div>
        <div class="allForm"><span id="allForm">Розширена форма запису</span></div>
      </form>
    </div>
    <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
  </div>
  <div class="header">
    <div class="header-top">
      <div class="mob_contact">
        <div class="icon_contact">
          <div class="burger_contact"></div>
        </div>
      </div>
      <div class="row">
        <div class="header__contact column large-8 medium-10">
          <ul>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i><span class="hide-for-medium-only">facebook</span></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i><span class="hide-for-medium-only">Instagram</span></a></li>
          </ul>
        </div>
        <div class="header__search column large-4 medium-2">
          <div class="search" data-opener-target="search">
            <form>
              <label class="show-for-large" for="h-search">Пошук:</label>
              <input type="search" id="h-search"/><img class="btn-search" src="./dist/images/serch-icon.svg" alt="" data-opener="search"/>
            </form>
          </div>
          <div class="lang clearfix">
            <select id="langSelect">
              <option>укр</option>
              <option>eng</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row header-bottom">
      <div class="header__logo column large-3 medium-3 small-12"><a href="index.html"><img src="./dist/images/logo.png" alt=""/></a></div>
      <div class="header__menu column large-9 medium-9 small-12">
        <div class="mob_open">
          <div class="icon">
            <div class="burger"></div>
          </div>
        </div>
        <nav>
          <ul class="nav-menu">
            <li class="active"><a href="#">Менюшки</a></li>
            <li><a href="category.html">Послуги</a></li>
            <li><a href="about.html">Про нас</a></li>
            <li><a href="contacts.html">Контакти</a></li>
            <li><a href="blog.html">блог</a></li>
          </ul>
        </nav>
        <div class="tel show-for-small-only"><a href="#">(+38) 066 475 7299</a></div>
      </div>
    </div>
  </div>
</header>