
<section>
  <div class="form-wrap">
    <div class="row">
      <div class="title"><span>Ви ще не спробували масаж? <br/>Записуйтесь вже зараз!</span>
        <div class="sub-title"><span>З перших хвилин перебування в нашій базі вас охопить приємна атмосфера, максимум комфорту та догляд наших талановитих майстрів.</span></div>
      </div>
      <div class="form large-10 large-offset-1">
        <form>
          <div class="form__inputs column large-7 medium-6">
            <p>Ім’я</p>
            <input type="text" name="name" placeholder="Ім’я"/>
            <p>Імейл</p>
            <input type="email" name="email" placeholder="Імейл"/>
            <p>Повідомлення</p>
            <textarea name="masseg" placeholder="Повідомлення"></textarea>
          </div>
          <div class="form__foto column large-5 medium-6 hide-for-small-only"><img src="./dist/images/slideritem2.jpg" alt=""/></div>
          <div class="form__btn column">
            <button class="btn button success" type="submit">Записатись</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>