
<section>
  <div class="slider-partners">
    <div class="row">
      <div class="title"><span>Наші партнери</span></div>
      <div class="partners__slider"><img src="./dist/images/partners_1.svg" alt=""/><img src="./dist/images/partners_2.svg" alt=""/><img src="./dist/images/partners_13.svg" alt=""/><img src="./dist/images/partners_6.svg" alt=""/><img src="./dist/images/partners_3.svg" alt=""/><img src="./dist/images/partners_8.svg" alt=""/><img src="./dist/images/partners_9.svg" alt=""/><img src="./dist/images/partners_14.svg" alt=""/><img src="./dist/images/partners_10.svg" alt=""/><img src="./dist/images/partners_11.svg" alt=""/><img src="./dist/images/partners_12.svg" alt=""/><img src="./dist/images/partners_4.svg" alt=""/><img src="./dist/images/partners_5.svg" alt=""/><img src="./dist/images/partners_7.svg" alt=""/></div>
    </div>
  </div>
</section>