
<section>
  <div class="reviews">
    <div class="row">
      <div class="reviews-slider">
        <div class="title"><span>Відгуки</span>
          <div class="sub-title"><span>Наших клієнтів та партнерів</span></div>
        </div>
        <div class="reviews-items">
          <div class="reviews-item">
            <div class="reviews-item__text">
              <p>Случайно нашёл тент на Koktebel Jazz Fest. Попросил массаж и осознал, что это было одним из правильныъ спонтанных решений за всю неделю. Больновато, зато эффективно. Не могу нарадоваться. Благодарю ...</p>
            </div>
            <div class="reviews-item__user">
              <div class="reviews-user_foto"><img src="./dist/images/r_user.png" alt=""/></div>
              <div class="reviews-user_name"><span>Konstantin Dobrovolskiy</span>
                <div class="reviews-user_status"><span>Клієнт</span></div>
              </div>
            </div>
          </div>
          <div class="reviews-item">
            <div class="reviews-item__text">
              <p>Случайно нашёл тент на Koktebel Jazz Fest. Попросил массаж и осознал, что это было одним из правильныъ спонтанных решений за всю неделю. Больновато, зато эффективно. Не могу нарадоваться. Благодарю ...</p>
            </div>
            <div class="reviews-item__user">
              <div class="reviews-user_foto"><img src="./dist/images/r_user.png" alt=""/></div>
              <div class="reviews-user_name"><span>Konstantin Dobrovolskiy</span>
                <div class="reviews-user_status"><span>Клієнт</span></div>
              </div>
            </div>
          </div>
          <div class="reviews-item">
            <div class="reviews-item__text">
              <p>Случайно нашёл тент на Koktebel Jazz Fest. Попросил массаж и осознал, что это было одним из правильныъ спонтанных решений за всю неделю. Больновато, зато эффективно. Не могу нарадоваться. Благодарю ...</p>
            </div>
            <div class="reviews-item__user">
              <div class="reviews-user_foto"><img src="./dist/images/r_user.png" alt=""/></div>
              <div class="reviews-user_name"><span>Konstantin Dobrovolskiy</span>
                <div class="reviews-user_status"><span>Клієнт</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="r-Next"><img src="./dist/images/sl_next.svg" alt=""/></div>
        <div class="r-Prev"><img src="./dist/images/sl_prev.svg" alt=""/></div>
        <div class="all-reviews"><a href="#"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Всі відгуки</a></div>
      </div>
    </div>
  </div>
</section>