section
	.about-wrap
		.row
			.title
				span Про нас
			.about
				.about__foto.column.large-6
					img(src="./dist/images/slideritem.png", alt="")
				
				.about__text.column.large-6
					p Массажний Патруль Катуниной - это сообщество професионалов-единомышлеников, которые получают удовольствие от своей роботы, и находятся в постоянном развитии и усоверсшенствовании.
					p
						| Наши специалисты делают 
						a(href='#') общий массаж
						| , тайский массаж, а так же много других 
						a(href='#') програм массажа.
					
					p Так же, мы занимаемся обучением массажа, и рады будем видеть в своей команде новых специалистов.
					.about__btn
						a.btn.btn_transp(href="#") Про нас
						a.btn(href="#") Навчання