section
	.advanteges
		.row
			.title
				span Чим ми круті
			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта

			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта

			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта

			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта
			