section
	.catering
		.row
			.title
				span Масажний кейтеринг
				.sub-title
					span Организация массажных зон и проведение сеансов массажей 
			.catering-items
				article.column.large-4.medium-6
					.catering-item
						.catering-item__img
							img(src="./dist/images/catering_item.png", alt="")
						.catering-item__title
							span Спортивні Події
						.catering-item__text
							p Організація повноцінної масажної зони на вашому фестивалі під відритими небом чи приміщенні для всіх вікових груп населення
						.catering-item__btn
							a.btn.btn_transp(href="#") Замовити
				article.column.large-4.medium-6
					.catering-item
						.catering-item__img
							img(src="./dist/images/catering_item.png", alt="")
						.catering-item__title
							span Спортивні Події
						.catering-item__text
							p Організація повноцінної масажної зони на вашому фестивалі під відритими небом чи приміщенні для всіх вікових груп населення
						.catering-item__btn
							a.btn.btn_transp(href="#") Замовити
				article.column.large-4.medium-6
					.catering-item
						.catering-item__img
							img(src="./dist/images/catering_item.png", alt="")
						.catering-item__title
							span Спортивні Події
						.catering-item__text
							p Організація повноцінної масажної зони на вашому фестивалі під відритими небом чи приміщенні для всіх вікових груп населення
						.catering-item__btn
							a.btn.btn_transp(href="#") Замовити
				article.column.large-4.medium-6