section
	.contacts
		.row
			.title
				span Бази Масажного Патруля
			.contacts-address.clearfix

				.bases.column.large-6.medium-12
					.bases-title
						span Бази
					.bases-items.clearfix

						.bases-item.column.large-6.medium-6
							.bases-item__contact
								.bases-item__city
									i.fa.fa-map-marker(aria-hidden="true")
									span м. Київ
								.bases-item__address
									p Адреса:
									a.marker-link(href="#" data-markerid="0") вул. Набережно-Луговая 3 
									
							.bases-item__work-time
								.work-time
									p Час роботи:
									ul
										li Пн-Пт 9-18
										li Сб-Нд 10-16
								.bases-item__phone
									p Телефон:
									a(href="#") (+38) 066 475 7299
							.bases-item__btn
								a(href="#") Записатись
									i.fa.fa-chevron-right(aria-hidden="true")
									i.fa.fa-chevron-right(aria-hidden="true")


						.bases-item.column.large-6.medium-6
							.bases-item__contact
								.bases-item__city
									i.fa.fa-map-marker(aria-hidden="true")
									span м. Київ
								.bases-item__address
									p Адреса:
									a.marker-link(href="#" data-markerid="1") вул. Набережно-Луговая 3 
									
							.bases-item__work-time
								.work-time
									p Час роботи:
									ul
										li Пн-Пт 9-18
										li Сб-Нд 10-16
								.bases-item__phone
									p Телефон:
									a(href="#") (+38) 066 475 7299
							.bases-item__btn
								a(href="#") Записатись
									i.fa.fa-chevron-right(aria-hidden="true")
									i.fa.fa-chevron-right(aria-hidden="true")
										
					.all-bases
						
						a(href="#") 
							i.fa.fa-chevron-right(aria-hidden="true")
							| Всі бази Масажного Патруля
				.partners.column.large-6.medium-12
					.partners-title
						span Партнери
					.partners-items
						.partners-item.large-6.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="2") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.large-6.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="3") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.large-6.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="4") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.large-6.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="5") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

			
					.all-bases

						a(href="#") 
							i.fa.fa-chevron-right(aria-hidden="true")
							| Всі партнери

		.map
			#markers
			#map-canvas
				script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&callback=initialize")