section
	.row
		.events.clearfix
			.title
				span Наші події

			.column.large-6.clearfix.hide-for-small-only
				.events-next
					.events-next__img
						img(src="./dist/images/event_foto.png", alt="")
					.events-next__date
						span 18 
						span черв

					.events-next__title
						a(href="#") BANDA OPEN GAMES 2018
					.events-next__text
						p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м

			.column.large-6.clearfix
				.events-items
					.events-item
						.events-item__date.hide-for-small-only
							span 18 
							span черв
						.events-text
							.events-item__title
								a(href="#") BANDA OPEN GAMES 2018
							.events-item__text
								p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м
					.events-item
						.events-item__date.hide-for-small-only
							span 18 
							span черв
						.events-text
							.events-item__title
								a(href="#") BANDA OPEN GAMES 2018
							.events-item__text
								p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м
					.events-item
						.events-item__date.hide-for-small-only
							span 18 
							span черв
						.events-text
							.events-item__title
								a(href="#") BANDA OPEN GAMES 2018
							.events-item__text
								p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м
			.all-events.column
				a(href="#") 
					i.fa.fa-chevron-right(aria-hidden="true")
					| Переглянути всі події