footer
	.footer
		.row
			
			.footer__logo.column.large-3.medium-4.small-12
				a(href="index.html")
					img(src="./dist/images/logo.png", alt="")
			.footer__menu.column.large-3.medium-4
				p Швидкі посилання
				ul
					li: a(href="#") Домашня
					li: a(href="#") Новини
					li: a(href="#") Про нас
					li: a(href="#") Зв’язок
					li: a(href="#") Курси

			.footer__news.column.large-4.show-for-large
				p Останні новини
				ul
					li
						a(href="#") 
							| BANDA OPEN GAMES 2018
						i.fa.fa-calendar(aria-hidden="true")
						span 12 вересня 2018
					li
						a(href="#") 
							| BANDA OPEN GAMES 2018
						i.fa.fa-calendar(aria-hidden="true")
						span 12 вересня 2018
					li
						a(href="#") 
							| BANDA OPEN GAMES 2018
						i.fa.fa-calendar(aria-hidden="true")
						span 12 вересня 2018
					li
						a(href="#") 
							| BANDA OPEN GAMES 2018
						i.fa.fa-calendar(aria-hidden="true")
						span 12 вересня 2018
			.footer_contact.column.medium-4.hide-for-large
					span Конатакти
					ul
						li
							a(href="#") 
								i.fa.fa-phone(aria-hidden="true")
								|(+38) 066 475 7299
						li
							a(href="#") 
								i.fa.fa-envelope(aria-hidden="true")
								|mp007pro@gmail.com
						li
							a(href="#") 
								i.fa.fa-facebook(aria-hidden="true")
						
							a(href="#")
								i.fa.fa-instagram(aria-hidden="true")
 

						
		.row
			.footer__bottom
				.footer_copy
					sapn Копірайт 2018 Массажний Патруль. Права захищено, Розроблено в 
						a(href="#") LIONLINE
				.footer_contact_bottom.show-for-large
					span Конатакти
					ul
						li
							a(href="#") 
								i.fa.fa-phone(aria-hidden="true")
								|(+38) 066 475 7299
						li
							a.hide-for-small-only(href="#") 
								i.fa.fa-envelope(aria-hidden="true")
								|mp007pro@gmail.com
						li
							a(href="#") 
								i.fa.fa-facebook(aria-hidden="true")
						li
							a(href="#")
								i.fa.fa-instagram(aria-hidden="true")


