meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
title massage-patrol.com.ua
meta(name="description" content="")
meta(name="copyright" content="")
meta(name="viewport" content="width=device-width, initial-scale=1")


script(type="text/javascript" src="dist/scripts/jquery.js")
script(type="text/javascript" src="dist/scripts/main.js")
//- script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

link(rel="stylesheet" href="dist/styles/main.css")
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet")
link(rel="shortcut icon" type="image/png" href="dist/images/favicon.png")

link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")

//- link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

