slider
	.slider-wrap
		.slder-items#mainSlider
			.slider-item
				.slider-item__img
					img(src="./dist/images/slideritem.png", alt="")
				.slider-item__text
					.row
						.large-7
							p Масаж? Ми вміємо!
				.slider-item__btn
					a.btn(href="#") Записатись на масаж
		
			.slider-item
				.slider-item__img
					img(src="./dist/images/slideritem2.jpg", alt="")
				.slider-item__text
					.row
						.large-7
							p Масаж? Ми вміємо!
				.slider-item__btn
					a.btn(href="#") Записатись на масаж
		
			.slider-item
				.slider-item__img
					img(src="./dist/images/slideritem3.jpg", alt="")
				.slider-item__text
					.row
						.large-7
							p Масаж? Ми вміємо!Ми вміємо!Ми вміємо!
				.slider-item__btn
					a.btn(href="#") Записатись на масаж
	
