section
	.form-wrap
		.row
			.title
				span Ви ще не спробували масаж? 
					br
					| Записуйтесь вже зараз!
				.sub-title
					span З перших хвилин перебування в нашій базі вас охопить приємна атмосфера, максимум комфорту та догляд наших талановитих майстрів.
			.form.large-10.large-offset-1
				form
					.form__inputs.column.large-7.medium-6
						p Ім’я
						input(type="text" name='name' placeholder='Ім’я')
						p Імейл
						input(type="email" name='email' placeholder='Імейл')
						p Повідомлення
						textarea(name="masseg" placeholder='Повідомлення')
					.form__foto.column.large-5.medium-6.hide-for-small-only
						img(src="./dist/images/slideritem2.jpg", alt="")
					.form__btn.column
						button.btn(type="submit" class="button success") Записатись
