section
	.reviews
		.row
			.reviews-slider
				.title
					span Відгуки
					.sub-title
						span Наших клієнтів та партнерів
				.reviews-items
					.reviews-item
						.reviews-item__text
							p Случайно нашёл тент на Koktebel Jazz Fest. Попросил массаж и осознал, что это было одним из правильныъ спонтанных решений за всю неделю. Больновато, зато эффективно. Не могу нарадоваться. Благодарю ...
						.reviews-item__user
							.reviews-user_foto
								img(src="./dist/images/r_user.png", alt="")
							.reviews-user_name
								span Konstantin Dobrovolskiy
								.reviews-user_status
									span Клієнт
					.reviews-item
						.reviews-item__text
							p Случайно нашёл тент на Koktebel Jazz Fest. Попросил массаж и осознал, что это было одним из правильныъ спонтанных решений за всю неделю. Больновато, зато эффективно. Не могу нарадоваться. Благодарю ...
						.reviews-item__user
							.reviews-user_foto
								img(src="./dist/images/r_user.png", alt="")
							.reviews-user_name
								span Konstantin Dobrovolskiy
								.reviews-user_status
									span Клієнт
					.reviews-item
						.reviews-item__text
							p Случайно нашёл тент на Koktebel Jazz Fest. Попросил массаж и осознал, что это было одним из правильныъ спонтанных решений за всю неделю. Больновато, зато эффективно. Не могу нарадоваться. Благодарю ...
						.reviews-item__user
							.reviews-user_foto
								img(src="./dist/images/r_user.png", alt="")
							.reviews-user_name
								span Konstantin Dobrovolskiy
								.reviews-user_status
									span Клієнт
				.r-Next
					img(src="./dist/images/sl_next.svg", alt="")
				.r-Prev
					img(src="./dist/images/sl_prev.svg", alt="")
				.all-reviews
					a(href="#") 
						i.fa.fa-chevron-right(aria-hidden="true")
						| Всі відгуки





