.sidebar_right.column.large-3
	.search
		span Пошук по блогу
		.search__input
			form
				input(type="search" placeholder="Введіть для пошуку")
	.categories
		span Категорії
		ul
			li
				a(href="#") Написано 
			li
				a(href="#") Категорії
			li
				a(href="#") Постів
			li
				a(href="#") Події