section
	.row
		.specialization
			.specialization__title
				span Спеціалізація
			.specialization-items
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_1.svg", alt="")
						.specialization-item__text
							span Организация курсов и семинаров по массажу
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_2.svg", alt="")
						.specialization-item__text
							span Индивидуальные сеансы массажа на базе Массажного Патруля
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_3.svg", alt="")
						.specialization-item__text
							span Организация массажных зон и проведение сеансов в удобном для вас месте
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_4.svg", alt="")
						.specialization-item__text
							span Профессиональная платформа для общения массажистов
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_5.svg", alt="")
						.specialization-item__text
							span Благотворительность и социальные проекты


