section
	.massage
		.row
			.title
				span Типи Масажу
			article
				.massage-item.clearfix
					.massage-item__img.column.large-6
						img(src="./dist/images/massage_img.png", alt="")
					.massage-item__content.column.large-6
						.massage_title
							span Класичний з маслом
						.massage_text
							p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
						.massage_type.hide-for-small-only
							ul.clearfix
								li: a(href="#") общий масаж тела
								li: a(href="#") массаж лица
								li: a(href="#") детский массаж
								li: a(href="#") тайский массаж стоп
								li: a(href="#") баночный массаж
								li: a(href="#") массаж ног
								li: a(href="#") массаж спины

						.massage_btn
							a(data-open='exampleModal1') Записатись
								i.fa.fa-chevron-right(aria-hidden="true")
								i.fa.fa-chevron-right(aria-hidden="true")
			article
				.massage-item.clearfix
					.massage-item__img.column.large-6
						img(src="./dist/images/massage_img.png", alt="")
					.massage-item__content.column.large-6
						.massage_title
							span Класичний з маслом
						.massage_text
							p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
						.massage_type.hide-for-small-only
							ul.clearfix
								li: a(href="#") общий масаж тела
								li: a(href="#") массаж лица
								li: a(href="#") тайский массаж стоп
								

						.massage_btn
							a(href="#") Записатись
								i.fa.fa-chevron-right(aria-hidden="true")
								i.fa.fa-chevron-right(aria-hidden="true")
			article
				.massage-item.clearfix
					.massage-item__img.column.large-6
						img(src="./dist/images/massage_img.png", alt="")
					.massage-item__content.column.large-6
						.massage_title
							span Класичний з маслом
						.massage_text
							p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
						.massage_type.hide-for-small-only
							ul.clearfix
								li: a(href="#") общий масаж тела
								li: a(href="#") массаж лица
								li: a(href="#") детский массаж
								li: a(href="#") тайский массаж стоп
								

						.massage_btn
							a(href="#") Записатись
								i.fa.fa-chevron-right(aria-hidden="true")
								i.fa.fa-chevron-right(aria-hidden="true")
			article
				.massage-item.clearfix
					.massage-item__img.column.large-6
						img(src="./dist/images/massage_img.png", alt="")
					.massage-item__content.column.large-6
						.massage_title
							span Класичний з маслом
						.massage_text
							p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
						.massage_type.hide-for-small-only
							ul.clearfix
								li: a(href="#") общий масаж тела
								li: a(href="#") массаж лица
								li: a(href="#") детский массаж
								li: a(href="#") тайский массаж стоп
								

						.massage_btn
							a(href="#") Записатись
								i.fa.fa-chevron-right(aria-hidden="true")
								i.fa.fa-chevron-right(aria-hidden="true")