.btn{
	font-size: 16px;
	font-weight: 500;
	padding: 7px 40px;
	border-radius: 40px;
	color: $wt!important;
	border: 2px solid $yellow;
	background: $yellow;
	transition: .2s;
	display: inline-block;
	&:hover{
		border-color: $yellow;
		color: $wt;
		box-shadow:  0px 1px 2px #2D7192;
	}
	&_transp{
		border-color: $yellow;
		color: $black!important;
		background: none;
		&:hover{
			color: $wt!important;
			border-color:  $yellow;
			background: $yellow;
			// box-shadow: 0px 0px 10px rgba(255, 196, 82, 0.6);
		}
	}
}
