.content-block, .content, .description {
  padding-left: .9375rem;
  padding-right: .9375rem;
	h1, h2, h3, h4, h5, h6{
		font-weight: 500;
	}
	h1{
		font-size: 60px;

	}
	h2{
		font-size: 35px;

	}
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 25px;
	}
 	h5{
		font-size: 20px;

	}
 	h6{
		font-size:15px;

	}
	>a{

	}
	img{
		margin-bottom: 25px;
	}
	a{
		color: $black;
		text-decoration: underline;
		transition:.2s;
		&:hover{
			color: $yellow;
		}
	}
	p{
		font-size: 15px;
		hyphens: auto;
	}
	ul, ol{

		li{
			font-size: 15px;
			line-height: 2;
		}
	}
	iframe{
		width: 100%;
		height: 390px;
	}
	figure{
		margin: 0;
		// width: 100% !important;
	}
	.wp-caption{
    width: 100% !important;
		img{
			margin-bottom: 5px;
		}
		.wp-caption-text{
			font-size: 12px;
			color: $grey;
			text-align: center;
		}
	}
	// blockquote{
	// 	padding: 20px 100px;
	// 	background: $bord-d;
	// 	border: none;
	// 	color: $black;
	// 	position: relative;
	// 	p{
	// 		color: $black;
	// 		font-weight: bold;
	// 	}
	// 	&:before{
	// 		content: "”";
	// 		font-size: 80px;
	// 		line-height: 1;
	// 		display: block;
	// 		position: absolute;
	// 		top: 16px;
	// 		left: 50px;
	// 	}
	// 	@media screen and (max-width: 39.9375em) {
	// 		padding: 30px;
	// 	}
	// 	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	// 		padding: 50px;

	// 	}
	// }
}
blockquote{
    padding: 20px 100px;
    background: $bord;
    border: none;
    color: $black;
    position: relative;
    p{
      color: $black;
      font-weight: bold;
    }
    &:before{
      content: "”";
      font-size: 80px;
      line-height: 1;
      display: block;
      position: absolute;
      top: 16px;
      left: 50px;
    }
    @media screen and (max-width: 39.9375em) {
      padding: 30px;
      &:before{
        top: 5px;
        left: 10px;
      }
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      padding: 50px;

    }
  }
@media screen and (min-width: 40em) and (max-width: 63.9375em){
	p{
		// font-size: 18px!important;
	}
}
