.alignright {
	float:right;
	width: 50%;
	margin:0 0 1em 1em;
}
.alignleft {
	float:left;
	width: 50%;
	margin:0 1em 1em 0;
}
.aligncenter {
	display: block;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
// .content .gallery-item {
//     display: inline-block;
//     margin: 0;
// }

/* Additional default styles for the editor */




.gallery img[data-mce-selected]:focus {
  outline: none;
}

.gallery a {
  cursor: default;
}

.gallery {
  margin: auto -6px;
  padding: 6px 0;
  line-height: 1;
  overflow-x: hidden;
}

.ie7 .gallery,
.ie8 .gallery {
  margin: auto;
}

.gallery .gallery-item {
  float: left;
  margin: 0;
  text-align: center;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ie7 .gallery .gallery-item,
.ie8 .gallery .gallery-item {
  padding: 6px 0;
}

.gallery .gallery-caption,
.gallery .gallery-icon {
  margin: 0;
}

.gallery .gallery-caption {
  font-size: 13px;
  margin: 4px 0;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.333%;
}

.ie8 .gallery-columns-3 .gallery-item,
.ie7 .gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.665%;
}

.gallery-columns-7 .gallery-item {
  width: 14.285%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.111%;
}

.gallery img {
  max-width: 100%;
  height: auto;
  border: none;
  padding: 0;
}

img.wp-oembed {
  border: 1px dashed #888;
  background: #f7f5f2 url(images/embedded.png) no-repeat scroll center center;
  width: 300px;
  height: 250px;
  outline: 0;
}

/* rtl */
.rtl .gallery .gallery-item {
  float: right;
}

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {

  .mce-content-body img.mce-wp-more {
    background-image: url( images/more-2x.png );
    background-size: 1900px 20px;
  }

  .mce-content-body img.mce-wp-nextpage {
    background-image: url( images/pagebreak-2x.png );
    background-size: 1900px 20px;
  }
}
