// color

// foundation
// $body-font-family: $light;
// $body-font-color: $black80;

$paragraph-margin-bottom: 0;
$header-margin-bottom: 0;

$grid-column-gutter: (
  small: 30px,
  medium: 30px,
);

$black:#283941;

$yellow:#0288C8; 

$blue:#01547C;

$blue-d:#003D5B;

$grey:#868A8C;

$bord-d:#CADAE4;

$bord:#E1F5FE;

$wt:#FCFEFF;