@import "common/_variables";
@import "settings/_settings";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@include foundation-everything;


@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
// @import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/zaglushka";
@import "layouts/homeSlider";
@import "layouts/Types-massage";
@import "layouts/catering";
@import "layouts/advanteges";
@import "layouts/reviews";
@import "layouts/about";
@import "layouts/contacts";
@import "layouts/events";
@import "layouts/homeForm";
@import "layouts/courses";
@import "layouts/partners";
@import "layouts/contactPage";
@import "layouts/categoryPage";
@import "layouts/categoryEntry";
@import "layouts/popupForm";
@import "layouts/aboutPage";
@import "layouts/our-team";
@import "layouts/blogPage";
@import "layouts/sidebar-right";
@import "layouts/specialization";
@import "layouts/blogEntry";
@import "layouts/404";

body{
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'Rubik', sans-serif;
	color: $black;
	p{
		font-size: 15px;

	}
	span{
		font-size: 15px;
	}
}

.row{
	max-width: 1260px;
	margin: 0 auto;
}

.title{
	text-align: center;
	span{
		color: $blue;
		font-weight: 500;
		font-size: 35px;
		letter-spacing: -1.3px;
	}


	.sub-title{
		span{
			font-size: 15px;
			letter-spacing: 0;
			color: $grey;
			font-weight: 400;
		}

	}
}

.breadcrumbs{
	margin-top: 15px;
  margin-bottom: 20px;
	a{
		font-size: 12px;
		color: $grey;
	}
	li{
		text-transform: none;
		color: $grey;
		font-size: 12px;
		&:after{
			margin: 0 3px!important;
		}
	}
	span{
		color: $grey;
		font-size: 12px;
	}
}

.close-button {

    right: 7px;
    top: 0px;
    padding: 15px;

    line-height: 20px;
    span{
      font-size: 25px;
    }

}



@media screen and (max-width: 39.9375em){
	.breadcrumbs{
		margin-top: 75px;
	}
	.title{
		span{
			font-size: 20px!important;
		}
		.sub-title{
			span{
				font-size: 12px!important;
			}
		}
	}
}
@media screen and (min-width: 40em) and (max-width: 63.9375em){
	body{
		// padding:0 15px;
		p{
		font-size: 18px;
		}
		span{
			font-size: 18px;
		}
	}
	.breadcrumbs{
		margin-top: 15px;
		li{
			font-size: 15px;
		}
		a{
			font-size: 15px;
		}
	}
	.title{
		span{
			font-size: 30px!important;
		}

		.sub-title{
			span{
				font-size: 18px!important;
			}
		}
	}
}





// input[type="date"] {
//     position: relative;
// }

// /* create a new arrow, because we are going to mess up the native one
// see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
// input[type="date"]:after {
//     content: "\25BC";
//     color: #555;
//     padding: 0 5px;
// }

// /* change color of symbol on hover */
// input[type="date"]:hover:after {
//     color: #bf1400;
// }

// /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
// input[type="date"]::-webkit-calendar-picker-indicator {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: auto;
//     height: auto;
//     color: transparent;
//     background: transparent;
// }

// /* adjust increase/decrease button */
// input[type="date"]::-webkit-inner-spin-button {
//     z-index: 1;
// }

//  /* adjust clear button */
//  input[type="date"]::-webkit-clear-button {
//      z-index: 1;
//  }


