doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header

		include ./parts/breadcrambs
	
		.row
			.about_title
				span Про нас
			.about-blok.clearfix
				.about-blok__text.column.large-5.medium-12.small-12
					.about-blok-title
						span Массажный патруль Катуниной
					p Мы— это активно развивающийся международный проект, который открыто заявляет: 
					p «Мы можем все!»
					p Можем помочь вам по-новому почувствовать тело, ответить на любой вопрос по нашей теме, подарить незабываемый отдых и просто стать вашими любимыми массажистами.
					p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помогаем друг другу осуществлять мечты и добиваться целей. Все инструменты и техники, используемые нами для воплощения своих намерений, открыты для каждого. 
				.about-blok__foto.column.large-7.medium-12.small-12
					img(src="./dist/images/slideritem.png", alt="")
			.about-blok.clearfix
				.about-blok__text.column.large-5.medium-12.small-12
					.about-blok-title
						span Соаціальна діяльність
					p Наш путь – в служении людям.
					p Массажный Патруль вырос из мечты о том, чтобы помогать другим. Эта идея живет в самом сердце проекта и направляет всю команду
					p Важная часть нашей работы – благотворительность. Мы поддерживаем проект «Жизнелюбы», являемся партнером фонда «Запорука», сотрудничаем с Украинской Биржей Благотворительности.
					
				.about-blok__foto.column.large-7.medium-12.small-12
					img(src="./dist/images/slideritem.png", alt="")

		include ./parts/specialization
		include ./parts/Our-team

		include ./parts/reviews
		include ./parts/partners
		

		include ./parts/footer

		