doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		include ./parts/breadcrambs

		.row
			.content-block.blog-content.column.large-9
				article
					.blog-item.large-11
						.blog-item__date
							span 18 
							span черв

						.blog-item__content
							.blog-item__title
								a(href="blogEntry.html") Виїздний кемперінг для пенсіонерів
							.posted-by
								span 
									| Від 
									a(href="#") Admin 
								span
									|в 
									a(href="#") Події
							img(src='./dist/images/blog_item.png')
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в
							
							h5 Підзаголовок у статті для тексту

							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							img(src='./dist/images/blog_item.png')
							
							h5 Підзаголовок у статті для тексту

							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							figure.wp-caption.alignnone
								img(src='./dist/images/blog_item.png')
								figcaption.wp-caption-text Підписи під картинками в блозі
							
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							blockquote
								p Мы— это активно развивающийся международный проект, который открыто заявляет
								span — Масажный Патруль

							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							iframe( src="https://www.youtube.com/embed/dmwYLuJQoFg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)









							h1 H1 Heading
							h2 H2 Heading
							h3 H3 Heading
							h4 H4 Heading
							h5 H5 Heading
							h6 H6 Heading

							h4 Unordered list
							ul
								li Unordered list
								li Unordered list
								li Unordered list
							

							h4 Unordered list
							ol
								li Unordered list
								li Unordered list
								li Unordered list

							p 
								strong Bold Text: Whether you found me on YouTube
							p
								i Italic:  Whether you found me on YouTube

							p
								del Strike-through:  Whether you found me on YouTube
							p
								a(href="#") Link: Whether you found me on YouTube

							
							blockquote
								p Мы— это активно развивающийся международный проект, который открыто заявляет
								span — Масажный Патруль
							h4 right aligned image
							img.alignright(src='./dist/images/blog_item.png')
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в
							h4 Left aligned image
							img.alignleft(src='./dist/images/blog_item.png')
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в
							img.aligncenter( src='./dist/images/blog_item-2.png')
							

							figure.wp-caption.alignnone
								img(src='./dist/images/blog_item-2.png')
								figcaption.wp-caption-text Підписи під картинками в блозі

							
							
							
							
							

									
									
			include ./parts/sidebar-right

		include ./parts/footer