doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		include ./parts/breadcrambs
		.row
			.blog-content.column.large-9
				article
					.blog-item.large-11
						.blog-item__date
							span 18 
							span черв
						.blog-item__content
							.blog-item__foto
								img(src="./dist/images/blog_item.png", alt="")
							.posted-by
								span 
									| Від 
									a(href="#") Admin 
								span
									|в 
									a(href="#") Події
							.blog-item__title
								a(href="blogEntry.html") Виїздний кемперінг для пенсіонерів
							.blog-item__text
								p
									| Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо...  
									a(href="#") Читати далі
					article
					.blog-item.large-11
						.blog-item__date
							span 18 
							span черв
						.blog-item__content
							.blog-item__foto
								img(src="./dist/images/blog_item.png", alt="")
							.posted-by
								span 
									| Від 
									a(href="#") Admin 
								span
									|в 
									a(href="#") Події
							.blog-item__title
								a(href="blogEntry.html") Виїздний кемперінг для пенсіонерів
							.blog-item__text
								p
									| Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо...  
									a(href="#") Читати далі
				article
					.blog-item.large-11
						.blog-item__date
							span 18 
							span черв
						.blog-item__content
							.blog-item__foto
								img(src="./dist/images/blog_item.png", alt="")
							.posted-by
								span 
									| Від 
									a(href="#") Admin 
								span
									|в 
									a(href="#") Події
							.blog-item__title
								a(href="blogEntry.html") Виїздний кемперінг для пенсіонерів
							.blog-item__text
								p
									| Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо...  
									a(href="#") Читати далі
				article
					.blog-item.large-11
						.blog-item__date
							span 18 
							span черв
						.blog-item__content
							.blog-item__foto
								img(src="./dist/images/blog_item.png", alt="")
							.posted-by
								span 
									| Від 
									a(href="#") Admin 
								span
									|в 
									a(href="#") Події
							.blog-item__title
								a(href="blogEntry.html") Виїздний кемперінг для пенсіонерів
							.blog-item__text
								p
									| Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо...  
									a(href="#") Читати далі
				.nav-links
					a.prev.page-numbers(href='#') < назад
					
					span.page-numbers.current(aria-current='page') 1
					a.page-numbers(href='#') 2
					a.next.page-numbers(href='#') Далі > 
			include ./parts/sidebar-right
					
		include ./parts/footer












