doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
    head
        include ./parts/head
    body
        include ./parts/header

        include ./parts/breadcrambs
        .main
            .row
                .sidebar-left.column.large-3
                    ul
                        li.active
                            a(href="#") Класичний з маслом
                        li
                            a(href="#") Тайський
                        li
                            a(href="#") Парний
                        li
                            a(href="#") Антицелюлітний
                .content.column.large-8
                    .category.active(data-collection="1", data-target="0")
                        .category__title
                            span Класичний з маслом-1
                        .category__img
                            img(src="./dist/images/event_foto.png", alt="")
                        .category__text
                            p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
                        .price
                            article
                                .price-item.clearfix
                                    .price-item__title
                                        a(href="categoryEntry.html") общий масаж тела (сторінка категорії)
                                    .price-item__text.column.large-7.medium-7
                                        p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного а овышает тонус мышц, суставно-связоч..
                                    .price-item__price.column.large-5.medium-5
                                        ul
                                            li
                                                .info-icon
                                                    img(src="./dist/images/info_icon.svg", alt="")
                                                .price-item__info
                                                    .info__close
                                                        img(src="./dist/images/close_info.svg", alt="")
                                                    .info__title
                                                        span qerty
                                                    .info__text
                                                        p а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.

                                                span.left 70 минут сесия
                                                span.right 570 грн.
                                            li
                                                .info-icon
                                                    img(src="./dist/images/info_icon.svg", alt="")
                                                .price-item__info
                                                    .info__close
                                                        img(src="./dist/images/close_info.svg", alt="")
                                                    .info__title
                                                        span qerty
                                                    .info__text
                                                        p а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
                                                span.left 100 минут сесия
                                                span.right 750 грн.
                                            li
                                                .info-icon
                                                    img(src="./dist/images/info_icon.svg", alt="")
                                                .price-item__info
                                                    .info__close
                                                        img(src="./dist/images/close_info.svg", alt="")
                                                    .info__title
                                                        span qerty
                                                    .info__text
                                                        p а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
                                                span.left 130 минут сесия
                                                span.right 1100 грн.
                                        .price-item__btn
                                            a.btn.btn_transp(href="#") Вибрати курс
                            article
                                .price-item.clearfix
                                    .price-item__title
                                        a(href="#") общий масаж тела
                                    .price-item__text.column.large-7.medium-8
                                        p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного а овышает тонус мышц, суставно-связоч..
                                    .price-item__price.column.large-5.medium-4
                                        ul
                                            li
                                                span.left 70 минут сесия
                                                span.right 570 грн.
                                            li
                                                span.left 100 минут сесия
                                                span.right 750 грн.
                                            li
                                                span.left 130 минут сесия
                                                span.right 1100 грн.
                                        .price-item__btn
                                            a.btn.btn_transp(href="#") Вибрати курс
                            article
                                .price-item.clearfix
                                    .price-item__title
                                        a(href="#") общий масаж тела
                                    .price-item__text.column.large-7.medium-8
                                        p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного а овышает тонус мышц, суставно-связоч..
                                    .price-item__price.column.large-5.medium-4
                                        ul
                                            li
                                                span.left 70 минут сесия
                                                span.right 570 грн.
                                            li
                                                span.left 100 минут сесия
                                                span.right 750 грн.
                                            li
                                                span.left 130 минут сесия
                                                span.right 1100 грн.
                                        .price-item__btn
                                            a.btn.btn_transp(href="#") Вибрати курс
                            article
                                .price-item.clearfix
                                    .price-item__title
                                        a(href="#") общий масаж тела
                                    .price-item__text.column.large-7.medium-8
                                        p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного а овышает тонус мышц, суставно-связоч..
                                    .price-item__price.column.large-5.medium-4
                                        ul
                                            li
                                                span.left 70 минут сесия
                                                span.right 570 грн.
                                            li
                                                span.left 100 минут сесия
                                                span.right 750 грн.
                                            li
                                                span.left 130 минут сесия
                                                span.right 1100 грн.
                                        .price-item__btn
                                            a.btn.btn_transp(href="#") Вибрати курс
                            article
                                .price-item.clearfix
                                    .price-item__title
                                        a(href="#") общий масаж тела
                                    .price-item__text.column.large-7.medium-8
                                        p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного а овышает тонус мышц, суставно-связоч..
                                    .price-item__price.column.large-5.medium-4
                                        ul
                                            li
                                                span.left 70 минут сесия
                                                span.right 570 грн.
                                            li
                                                span.left 100 минут сесия
                                                span.right 750 грн.
                                            li
                                                span.left 130 минут сесия
                                                span.right 1100 грн.
                                        .price-item__btn
                                            a.btn.btn_transp(href="#") Вибрати курс
                            article
                                .price-item.clearfix
                                    .price-item__title
                                        a(href="#") общий масаж тела
                                    .price-item__text.column.large-7.medium-8
                                        p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного а овышает тонус мышц, суставно-связоч..
                                    .price-item__price.column.large-5.medium-4
                                        ul
                                            li
                                                span.left 70 минут сесия
                                                span.right 570 грн.
                                            li
                                                span.left 100 минут сесия
                                                span.right 750 грн.
                                            li
                                                span.left 130 минут сесия
                                                span.right 1100 грн.
                                        .price-item__btn
                                            a.btn.btn_transp(href="#") Вибрати курс



        include ./parts/footer
