doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		include ./parts/breadcrambs
		.row
			.contactPage
				.title
					span Контакти
				.bases.column
					.bases-title
						span Бази
					.bases-items.clearfix
						

							.bases-item.large-3.column.medium-6
								.bases-item__contact
									.bases-item__city
										i.fa.fa-map-marker(aria-hidden="true")
										span м. Київ
									.bases-item__address
										p Адреса:
										a.marker-link(href="#" data-markerid="0") вул. Набережно-Луговая 3 
									
								.bases-item__work-time
									.work-time
										p Час роботи:
										ul
											li Пн-Пт 9-18
											li Сб-Нд 10-16
									.bases-item__phone
										p Телефон:
										a(href="#") (+38) 066 475 7299
								.bases-item__btn
									a(href="#") Записатись
										i.fa.fa-chevron-right(aria-hidden="true")
										i.fa.fa-chevron-right(aria-hidden="true")

						

							.bases-item.large-3.column.medium-6
								.bases-item__contact
									.bases-item__city
										i.fa.fa-map-marker(aria-hidden="true")
										span м. Київ
									.bases-item__address
										p Адреса:
										a.marker-link(href="#" data-markerid="1") вул. Набережно-Луговая 3 
								.bases-item__work-time
									.work-time
										p Час роботи:
										ul
											li Пн-Пт 9-18
											li Сб-Нд 10-16
									.bases-item__phone
										p Телефон:
										a(href="#") (+38) 066 475 7299
								.bases-item__btn
									a(href="#") Записатись
										i.fa.fa-chevron-right(aria-hidden="true")
										i.fa.fa-chevron-right(aria-hidden="true")
						
							.bases-item.large-3.column.medium-6
								.bases-item__contact
									.bases-item__city
										i.fa.fa-map-marker(aria-hidden="true")
										span м. Київ
									.bases-item__address
										p Адреса:
										a.marker-link(href="#" data-markerid="1") вул. Набережно-Луговая 3 
								.bases-item__work-time
									.work-time
										p Час роботи:
										ul
											li Пн-Пт 9-18
											li Сб-Нд 10-16
									.bases-item__phone
										p Телефон:
										a(href="#") (+38) 066 475 7299
								.bases-item__btn
									a(href="#") Записатись
										i.fa.fa-chevron-right(aria-hidden="true")
										i.fa.fa-chevron-right(aria-hidden="true")

						
				.partners
					.partners-title
						span Партнери
					.partners-items
						.partners-item.column.large-3.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="2") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.column.large-3.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="3") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.column.large-3.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="4") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.column.large-3.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="5") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

						.partners-item.column.large-3.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="6") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299
						.partners-item.column.large-3.medium-4
							.partners-item__name
								a(href="#") Спорткулб “BANDA”
							.partners-item__address
								p Адреса:
								a.marker-link(href="#" data-markerid="6") вул. Набережно-Луговая 3
							.partners-item__phone
								p Телефон:
								a(href="#") (+38) 066 475 7299

		.map.clearfix
			#markers
			#map-canvas
				script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&callback=initialize")
		.row
			.contact-form
				form
					.title
						span У вас є питання? 
						.sub-title
							span Відповімо вам якнайшвидше
					p Ім’я*
					input(type="text")
					p Імейл
					input(type="email")
					p Повідомлення
					textarea
					.contact-form__btn
						button.btn.btn_yellow(type="submit" class="button success") Записатись


		include ./parts/footer

