doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		
			.zaglushka
				.row
					.zaglushka_content
						.zaglushka__logo
							img(src="./dist/images/logo.png", alt="")
						.zaglushka__countdown
							p До відкриття сайту залишилось
							#countdown
							p  Наш сайт ще знаходиться у розробці.
							p Ви можете зв’язатись та замовити послуги через 
								a(href="https://www.facebook.com/massagepatrol/") Facebook 
								|або по телефону
						.zaglushka__btn

							a(href="https://www.facebook.com/massagepatrol/") 
								i.fa.fa-facebook-square(aria-hidden="true")
								|Замовити масаж
						.zaglushka__footer
							.zaglushka__footer-contacts.column.large-6.medium-6.small-6
								p Зв’язатись
								a(href="tel:+38 066 475 7299") +38 066 475 7299
								a.email(href="mailto:mp007pro@gmail.com") mp007pro@gmail.com
							.zaglushka__footer-adress.column.large-6.medium-6.small-6
								p Адреса
								span м. Київ
								a(href="https://www.google.com.ua/maps/place/%D0%91%D0%B0%D0%B7%D0%B0+%D0%9C%D0%B0%D1%81%D1%81%D0%B0%D0%B6%D0%BD%D0%BE%D0%B3%D0%BE+%D0%9F%D0%B0%D1%82%D1%80%D1%83%D0%BB%D1%8F/@50.4749363,30.5120035,17z/data=!4m13!1m7!3m6!1s0x40d4ce110bcb5bf5:0x45f2eca1b2de8a78!2z0LLRg9C70LjRhtGPINCd0LDQsdC10YDQtdC20L3Qvi3Qm9GD0LPQvtCy0LAsIDMsINCa0LjRl9CyLCAwMjAwMA!3b1!8m2!3d50.4749363!4d30.5141922!3m4!1s0x40d4ce110bcb5bf5:0xd111c6b0670becac!8m2!3d50.4749335!4d30.514119") вул. Набережно-Луговая 3