._404{
	margin-top: 155px;
	padding-top: 90px;
	margin-bottom: 50px;
	background-image: url(../images/404-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	min-height: 600px;
	&__title{
		margin-bottom: 10px;
		span{
			color: $black;
			font-size: 35px;
			letter-spacing: -1.3px;
			font-weight: 500;
		}
	}
	&__text{
		margin-bottom: 65px;
		p{

			font-size: 20px;
			font-weight: 500;
			margin-bottom: 0;
			
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	._404{
		padding-left: 50px;
		&__title{
			font-size: 30px;
		}
		&__text{
			p{
				font-size: 25px!important;
			}
		}
	}
}
@media screen and (max-width: 39.9375em){
	._404{
		background: none;
		min-height: auto;
		margin-top: 55px;
		padding-top: 60px;
		padding-left: 15px;
		&__text{
			margin-bottom: 135px;
		}
		&__btn{
			text-align: center;
		}
	}
}