.about-wrap{
	.title{
		margin-bottom: 55px;
	}
}

.about{
	display: flex;
	margin-bottom: 130px;
	align-items: center;
	&__foto{
		img{
			border-radius: 20px;
			height: 360px;
			object-fit: cover;
			width: 100%;
		}
	}
	&__text{
		font-size: 15px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		padding-left: 45px;
		a{
			color: $blue;
			text-decoration: underline;
			transition: .2s;
			&:hover{
				color:$yellow;
			}
		}
	}
	&__btn{
		margin-top: 35px;
		a{
			width: 180px;
			text-align: center;
			margin-right: 30px;
			text-decoration: none;
			
			// &:hover{
			// 	color: #fff;
			// }
			// &:nth-child(2){
			// 	border-color: $bord;
			// 	background: $bord;
			// 	margin-right: 0;
			// 	&:hover{
			// 		background: #CADAE4;
			// 		border-color: #CADAE4;
			// 		box-shadow: none;
			// 		color: $black;
			// 	}
			// }
		}
	}
}

@media screen and (max-width: 39.9375em) {
	.about-wrap{
		.title{
			margin-bottom: 20px;
		}
	}
	.about{
		flex-direction: column;
		margin-bottom: 60px !important;
		&__foto{
			margin-bottom: 20px;
			img{
				height: 175px;
			}
		}
		&__btn{
			text-align: center;
			margin-top: 30px;
			a{
				display: block;
				margin: 0 auto!important;
				margin-bottom: 20px!important;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.about{
		flex-direction: column;
		margin-bottom: 60px !important;
		&__foto{
			margin-bottom: 20px;
		}
		&__btn{
			text-align: center;
		}
	}
}


















