.advanteges{
	margin-bottom: 130px;
	.title{
		margin-bottom: 55px;
	}
}
.advanteges__items{
	display: flex;
	flex-wrap: wrap;
}
.advanteges-item{
	text-align: center;
	&__icon{
		margin-bottom: 14px;
		img{
			height: 72px;
      width: 72px;
		}
	}
	span{
		font-size: 16px;
		color: $blue;
		font-weight: 500;
		margin-bottom: 5px;
	}
	p{
		font-size: 15px;
		color: $grey;
		margin-top: 3px;
		padding: 0 30px;
	}
}

@media screen and (max-width: 39.9375em){
	.advanteges{
		margin-bottom: 60px !important;
	}
	.advanteges-item{
		p{
			padding: 0 !important;
		}
	}
}
@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.advanteges-item{
		p{
			padding: 0 !important;
		}
	}
}
