.catering{
	margin-bottom: 90px;
	.title{
		margin-bottom: 50px;
	}
	&__btn{
		text-align: center;
		margin-top: 20px;
		a{
			font-size: 15px;
			font-weight: 500; 
			color: $blue;
			transition: .2s;
			&:hover{
				color: $yellow;
			}
			i{
				font-size: 13px;
				margin-right: 5px;
			}
		}
	}
}
.catering-items{
	display: flex;
	flex-wrap: wrap;
	.block-catering{
		margin-bottom: 40px;
	}
}
.catering-item{
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 1px 6px rgba(228, 236, 241, 0.7);
	padding-bottom: 35px;
	transition: .2s;
	// margin-bottom: 40px;
	display: flex;
    height: 100%;
    flex-direction: column;
	&__img{
		img{
			width: 100%;
			height: 200px;
			object-fit:cover;
		}
	}
	&__title{
		span{
			// font-size: 16px;
			color: $black;
			font-weight: 500;
		}
		
		padding: 15px 0;
		
	}
	&__text{
		color: #868A8C;
		font-size: 15px; 
		padding:0 25px;
		transition: .2s;
	}
	&__btn{
		text-align: center;
		margin-top: auto;
		.btn{
			// border-color: $yellow;
			// color: $black;
			// &:hover{
			// 	border-color: $yellow;
			// 	background: $yellow;
			// 	box-shadow: 0px 0px 10px rgba(255, 196, 82, 0.6);
			// }
		}
	}
	&:hover{
		box-shadow: 0px 7px 24px #E4ECF1;
		.catering-item__text{
			color: $black;
		}
		
	}
}


@media screen and (max-width: 39.9375em){
	.catering{
		margin-bottom: 60px !important;
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.catering{
		margin-bottom: 60px !important;
	}
}







