.contacts{
	margin-bottom: 160px;
	.title{
		margin-bottom: 40px;

	}
	.partners{
		padding-top: 0;
		background: none;
		padding-bottom: 0;
	}
	&-address{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 70px;
		flex-wrap: wrap;
	}
	.bases{
		display: flex;
		flex-direction: column;
	}
}
.bases-title{
	span{
		font-size: 25px;
		color: $black;
		font-weight: 400;
	}

	margin-bottom: 20px;

}
.partners-title{
	span{
		font-size: 25px;
		color: $black;
		font-weight: 400;
	}

	margin-bottom: 20px;
}
.all-bases{
	margin-top: auto;
	font-size: 15px;
	font-weight: 500;
	a{
		color: $blue-d;
		transition:.2s;
		&:hover{
			color: $yellow;
			i{
				color: $yellow;
			}
		}
	}
	i{
		margin-right: 10px;
		color: $blue-d;
		transition:.2s;
	}

}


.bases-item{
	float: left!important;
	padding-bottom: 15px;
	margin-bottom: 20px;
	padding-left: 0 !important;

	&__city{
		// font-size: 20px;
		color: $black;
		font-weight: 500;
		margin-bottom: 10px;
    a{
      font-weight: 500;
    }
		i{
			font-size: 20px;
			margin-right: 10px;
		}
	}
	&__address{
		margin-bottom: 15px;
	}
	&__work-time{
		display: flex;
		/* justify-content: space-between; */
		margin-bottom: 15px;
		.work-time{
			margin-right: 15px;
		}
		ul{
			list-style: none;
			margin: 0;
			li{
				font-size: 15px;
				color: $black;
			}
		}
	}
	&__btn{
		a{
			font-size: 15px;
			font-weight: 500;
			color: $blue-d!important;
			transition:.1s;
			position: relative;
			&:hover{
				color: $yellow!important;
				i:last-child{
					right: -22px;
				}
			}
		}
		i{
			font-size: 12px;
			margin-left: 7px;
			position: absolute;
			top: 5px;
			right: -15px;
			transition:.2s;
		}

	}
	p{
		margin: 0;
		font-size: 12px;
		color: grey;
	}
	a{
		font-size: 15px;
		color: $black;
	}
}

.partners{
	/* padding-bottom: 20px!important; */
	// background: #fff!important;
	padding: 0 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.partners-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.partners-item{
	/* width: 50%; */
	margin-bottom: 40px;
	padding-left: 0 !important;
	&__name{
    margin-bottom: 10px;
    i{
      margin-right: 10px;
      font-size: 20px;
    }
		a{
			font-weight: 500!important;
			color: $black;
			transition:.2s;
			&:hover{
				color: #E91E1E;
			}
		}

	}
  &__phone{
    margin-bottom: 15px;
  }
  .bases-item__btn{
    a{
      font-size: 15px;
      color: #003d5b;
      transition: .2s;
      font-weight: 500;
      position: relative;
      i{
        font-size: 12px;
        margin-left: 7px;
        font-weight: 900;
        position: absolute;
        top: 5px;
        right: -15px;
        transition:.2s;
      }
      &:hover{
        color: $yellow;
        i:last-child{
          right: -22px;
        }
      }
    }
  }
	p{
		margin: 0;
		font-size: 12px;
		color: grey;
	}
	a{
		font-size: 15px;
		color: $black;
		// font-weight: 300;
	}
}





#map-canvas{
	height: 420px;
}

.info_block{
	font-family: 'Rubik', sans-serif!important;
	span{
		font-size: 15px;
		font-family: 'Rubik', sans-serif !important;
		padding-left: 3px;
	}
	p{
		font-size: 13px;
		margin-bottom: 0px;
		font-family: 'Rubik', sans-serif !important;
		padding-left: 3px;
	}
	a{
		font-size: 13px;
		color: $black;
		font-family: 'Rubik', sans-serif !important;
		padding-left: 3px;
	}
	.logo{
		margin-bottom: 10px;
		img{
			max-width: 150px;
			margin-left: -6px;
		}
	}
}



@media screen and (max-width: 39.9375em){
	.contacts{
		margin-bottom: 90px !important;


	}
	.contactPage{
		.title{
			font-size: 25px!important;
		}
	}
	.all-bases{
		text-align: center!important;
	}
	.partners-item{
		width: 100%;
		text-align: center;
		padding-right: 0 !important;
		// &:nth-child(n+4){
		// 	display: none;
		// }
    &__name{
      margin-bottom: 15px;
    }
	}
  .partners-item__address{
    margin-bottom: 5px;
  }
	.partners-title{
		text-align: center;
    margin-bottom: 30px;
    span{
      font-weight: 500;
    }
	}
	.bases{
		margin-bottom: 80px;
		text-align: center;
		.bases-item__work-time{
			display: block;
      margin-bottom: 15px;
      .work-time{
        margin-right: 0;
      }
		}
	}
	.bases-item{
		padding-right: 0 !important;
    margin-bottom: 80px;
		&__btn{
		    margin-top: 15px;
    		text-align: center;
		}
    &:last-child{
      margin-bottom: 30px;
    }
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.contacts{
		margin-bottom: 90px !important;
	}
	.bases-items{
		margin-bottom: 45px;
	}
	.bases{
		margin-bottom: 70px;
	}
	.bases-item{
		&__address{
			p{
				font-size: 15px;
			}
			a{
				font-size: 18px;
			}
		}
		&__work-time{
			p{
				font-size: 15px;
			}
			ul{
				li{
					font-size: 18px;
				}
			}
		}
		&__btn{
			a{
				font-size: 16px;
			}
		}
	}
	.partners-items{
		.partners-item{
      p{
        font-size: 15px;
      }
      a{
        font-size: 18px;
      }
      .bases-item__btn{
        a{
          font-size: 15px;
        }
      }
			&:nth-child(+3){
				display: none;
			}
		}

	}
}




















