.courses{
	margin-bottom: 130px;
	.title{
		margin-bottom: 50px;
	}
	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__text{

		font-size: 15px;
	
		flex-direction: column;
		justify-content: space-between;
	}
	&__foto{
		img{
			height: 495px;
			width: 100%;
			object-fit: cover;
			border-radius: 20px;
		}
	}
	&__btn{
		margin-top: 50px;
		/* text-align: center; */
	}
}

@media screen and (max-width: 39.9375em){
	.courses{
		&-content{
			flex-direction: column;
		}
		&__foto{
			order: -1;
			margin-bottom: 30px;
			img{
				height: 290px;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.courses__btn{
		// margin-right: -100%;
		margin-top: 30px;
	}
	.courses{
		&-content{
			flex-direction: column;
		}
		&__foto{
			order: -1;
			margin-bottom: 30px;
			img{
				height: 390px;
			}
		}
	}
}

















