.events{
	margin-bottom: 50px;
	.title{
		margin-bottom: 65px;
	}
	.all-events{
		text-align: center;
		a{
			font-size: 15px;
			/* font-weight: 600; */
			color: $blue;
			transition: .2s;
			font-weight: 500;
			&:hover{
				color: $yellow;
			}
			i{
				font-size: 13px;
				margin-right: 5px;
			}
		}
	}
}
.events-items{
	padding-left: 45px;
}
.events-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-bottom: 1px solid $bord;
	margin-bottom: 20px;
	&:last-child{
		border: none;
	}
	&__date{
		min-width: 77px;
		height: 77px;
		border: 2px solid $bord;
		text-align: center;
		color: $black;
		border-radius: 10px;
		float: left;
		padding: 17px;
		font-weight: 500;
		margin-right: 20px;
		line-height: 1.1;
		span{
			font-size: 16px;
			font-weight: bold;
			&:last-child{
				font-size: 13px;
				font-weight: 500;
				display: inline-block;
				margin-top: 4px;
			}
		}
	}
	&__title{
		a{
			font-size: 20px;
			font-weight: 500;
			color: $black;
			transition:.2s;
			text-transform: uppercase;
			&:hover{
				color: $yellow;
			}
		}
	}
	&__text{
		font-size: 15px;
	}
}

.events-next{
	position: relative;
	padding: 35px;
	margin-bottom: 60px;
	    background: linear-gradient(0deg, rgba(18, 16, 16, 0.6) 0%, rgba(18, 16, 16, 0) 100%);
    border-radius: 20px;
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		img{
			border-radius: 20px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		
	}
	&__date{
		width: 77px;
		font-weight: 500;
		height: 77px;
		border: 2px solid $bord;
		text-align: center;
		
		color: $black;
		border-radius: 10px;
		padding: 17px;
		margin-right: 20px;
		background: #fff;
		line-height: 1.1!important;
		margin-bottom: 90px;
		span{
			font-size: 16px;
			font-weight: bold;
			&:last-child{
				font-size: 13px;
				font-weight: 500;
				display: inline-block;
				margin-top: 4px;
			}
		}
	}
	&__title{
		margin-bottom: 30px;
		a{
			font-size: 20px;
			font-weight: 500;
			color: #f2f2f2;
			transition:.2s;
			&:hover{
				color: $yellow;
			}
		}
	}
	&__text{
		font-size: 15px;
		color: #f2f2f2;
		font-weight: 500;
		p{
			line-height: 20px;
		}
	}

}

@media screen and (max-width: 39.9375em) {
	.events-item{
		&__title{
			a{
				font-size: 15px;
			}
		}
	}
}


