.footer{
  background: linear-gradient(180deg, rgba(250, 253, 255, 0) 0%, #FAFDFF 100%);
	&__logo{
		img{
			max-width: 165px;
		}
	}
	&__menu{
		p{
			font-size: 14px;
			font-weight: 500;
			margin: 0;
      margin-bottom: 10px;
      text-transform: uppercase;
		}
		ul{
			list-style: none;
      margin-left: 15px;
			li{
				position: relative;
				width: 50%;
				float: left;
        margin-bottom: 10px;
				a{
					font-size: 15px;
          line-height: 16px;
					color: $grey;
					transition: .2s;
					position: relative;
					&:hover{
						color: $black;
					}
					&:before{
						position: absolute;
						left: -16px;
						top: 3px;
						content: "";
						width: 13px;
						height: 11px;
						background: url('../images/list-icon.svg');
					}
				}

			}
		}
	}
	&__news{
		float: left!important;
		p{
			font-size: 14px;
			font-weight: 500;
			margin: 0;
      margin-bottom: 10px;
      text-transform: uppercase;
		}
		ul{
			list-style: none;
			margin: 0;
			li{
				width: 50%;
				float: left;
        margin-bottom: 15px;
        padding-right: 10px;
				a{
					display: block;
					font-size: 12px;
          line-height: 16px;
          margin-bottom: 3px;
					color: $black;
					text-transform: uppercase;
					transition: .2s;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
					&:hover{
						color: $black;
					}
				}
				span{
					color: $grey;
					font-size: 12px;

				}
				i{
					color: $grey;
					font-size: 16px;
					margin-right: 10px;
				}
			}
		}
	}
	.footer_contact{
		span{
			font-size: 14px;
			font-weight: 500;
		}

		ul{
			list-style: none;
			margin: 0;
			li{
				a{
					color: $black;
					// margin-left: 30px;
					font-size: 12px;
					i{
						margin-right: 15px;
					}
				}
			}
		}
	}
	&__bottom{

		margin-top: 40px;
		padding: 15px ;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		font-size: 12px;
    align-items: center;
		.footer_copy{
			color: $grey;
      a{
        color: $grey;
      }
		}

		.footer_contact_bottom{
      span{
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        text-transform: capitalize;

        color: $black;
      }
			ul{
				list-style: none;
				margin: 0;
				display: inline-block;
				li{
					display: inline-block;
					a{
						color: $black;
						margin-left: 30px;
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            line-height: 27px;
            font-size: 12px;
						i{
							margin-right: 10px;
              font-size: 15px;
						}
					}
					&:last-child{
						a{
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 39.9375em){
	.footer{
		text-align: center;
		&__logo{
			img{
				max-width: 150px;
			}
		}
	}
	.footer__menu{
		margin-bottom: 20px;
		margin-top: 20px;

		ul{
			max-width: 230px;
			margin: 0 auto;
			text-align: left;
			li{
				padding-left: 25px;
				margin-top: 5px;
				a{
					font-size: 14px;
				}
			}
		}
	}
	.footer__bottom{
		margin-top: 5px !important;
	}
	.footer_contact{
		li{
			margin-top: 15px;
		}
	}
}



















