header{
	// position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	right: 0;
  &.fixed{
      position: fixed;
      top: -49px;
      .header{
        &__logo{
          img{
            max-width: 140px;
          }
        }
        &-bottom{
        padding: 0;
      }
      }

    }
	.header{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
		z-index: 999;
    background: #fff;
		&__logo{
			img{
        transition:.2s;
				max-width: 240px;
			}
		}
		&-top{
			padding: 5px 0;
			border-bottom: 1px solid $bord-d;
			// margin-bottom: 5px;
			padding-bottom: 9px;
			.mob_contact{
				position: relative;
				display: none;
				.icon_contact {
					width: 35px;
					height: 35px;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					z-index: 999;
					cursor: pointer;
					display: block;
					position: fixed;
					top: 26px;
					right: -15px;
					transition: .5s;
					.burger_contact {
						width: 3px;
						height: 3px;
						background: $blue-d;
						position: absolute;
						border-radius: 50%;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						-webkit-transition: 0.5s;
						-o-transition: 0.5s;
						-moz-transition: 0.5s;
						transition: 0.5s;
						&:before{
							content: '';
							width: 3px;
							height: 3px;
							background:$blue-d;
							position: absolute;
							-webkit-transition: 0.5s;
							-o-transition: 0.5s;
							-moz-transition: 0.5s;
							transition: 0.5s;
							top: -0px;
							left: -8px;
							border-radius: 50%;
						}
						&:after{
							content: '';
							width: 3px;
							height: 3px;
							background:$blue-d;
							position: absolute;
							-webkit-transition: 0.5s;
							-o-transition: 0.5s;
							-moz-transition: 0.5s;
							transition: 0.5s;
							top: 0px;
							left: 8px;
							border-radius: 50%;
						}
					}
					&.active{
						background: $bord;
						border-radius: 50%;
						transform: translate(-50%, -50%) rotate(90deg);

						.burger_contact{
							/* background: transparent;  */
							&:before{
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
								top: 0;

							}
							&:after {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-ms-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
								top: 0;

							}
						}
					}

				}
			}
		}
		&-bottom{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			padding: 5px 0;
      transition:.2s;
		}
		&__contact{
			padding-top: 10px;
			ul{
				list-style: none;
				margin: 0;
				li{
					display: inline-block;
					margin-right: 30px;
					a{
						font-size: 12px;
						color: $black;
						transition: .2s;
						i{
							margin-right: 10px;
							font-size: 16px;
						}
            span{
              font-size: 12px;
            }

						&:hover{
							color: $blue;

						}
					}
				}
			}

		}
		&__search{
			display: flex;
			justify-content: flex-end;
			.search{
				display: flex;
				align-items: center;
				position: relative;
				margin-right: 20px;
				img{
					position: absolute;
					right: 0px;
					top: 0px;
					cursor: pointer;
					padding: 10px;
					opacity: 1;
					transition: .3s;
				}
				label{
					position: absolute;
					left: -0px;
					transition: .1s;
					opacity: 0;
				}
				input{
					margin: 0;
					border-radius: 40px;
					width: 0px;
					transition: .7s;
					opacity: 0;
					height: 30px;
					border: 2px solid $bord-d;
					background: $bord;
					padding: 0 20px;
					font-size: 12px;
					box-shadow: none;
					position: relative;
					margin-top: 4px;
					&:before{
						content: 'Пошук:';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
				&.is-active{
					input{
						opacity: 1;
						width: 290px;
						transition: .3s;
					}
					label{
						left: -55px;
						opacity: 1;
						top: 6px;
						transition: 1s;
					}
					img{
						opacity: 0;
					}
				}
			}
			.lang{
				padding-top: 3px;
			}
			.nice-select{
				line-height: 1.5!important;
				height: auto;
				border: none;
				background: none;
				padding-right: 15px;
				margin-top: 5px;
				&:after{
					right: 3px;
					height: 7px;
					width: 7px;
					border-color: $black;
				}
				.list{
					right: 0 !important;
					left: auto;
					border:1px solid $bord-d;
					box-shadow: none;
					li{
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}
		&__menu{
			margin-top: 0px;
			ul{
				list-style: none;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: flex-end;
				transition: .5s;
        margin: 0;
				li{
					margin-left: 40px;
					a{
						font-size: 15px;
						color: $blue;

						transition: .2s;
						position: relative;
						&:before{
							content: '';
						    position: absolute;
						    left: 50%;
						    bottom: -8px;
						    transform: translateX(-50%);
						    width: 0;
						    height: 3px;
						    transition: .2s;
						    background: $blue;
						}
						&:hover{
							color: $blue-d;
							/* font-weight: 500; */
							&:before{
								width: 100%;
							}
						}
					}
					&.active{
						a{
							color: $blue-d;
							font-weight: 500;
							&:before{
								width: 100%;
							}
						}
					}
					&.current-menu-item{
						a{
							color: $blue-d;
							font-weight: 500;
							&:before{
								width: 100%;
							}
						}
					}
				}
			}
			.mob_open{
				position: relative;
				display: none;
				.icon {
					width: 55px;
					height: 40px;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					z-index: 999;
					cursor: pointer;
					display: block;
					position: fixed;
					top: 26px;
					left: 22px;
					.burger {
						width: 25px;
						height: 3px;
						background: $blue-d;
						position: absolute;
						border-radius: 15px;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						-webkit-transition: 0.5s;
						-o-transition: 0.5s;
						-moz-transition: 0.5s;
						transition: 0.5s;
						&:before{
							content: '';
							width: 25px;
							height: 3px;
							background:$blue-d;
							position: absolute;
							-webkit-transition: 0.5s;
							-o-transition: 0.5s;
							-moz-transition: 0.5s;
							transition: 0.5s;
							top: -9px;
							left: 0px;
							border-radius: 15px;
						}
						&:after{
							content: '';
							width: 25px;
							height: 3px;
							background:$blue-d;
							position: absolute;
							-webkit-transition: 0.5s;
							-o-transition: 0.5s;
							-moz-transition: 0.5s;
							transition: 0.5s;
							top: 9px;
							left: 0px;
							border-radius: 15px;
						}
					}
					&.active{
						.burger{
							background: transparent;
							&:before{
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
								top: 0;

							}
							&:after {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-ms-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
								top: 0;

							}
						}
					}

				}

			}
		}
	}
}

@media screen and (max-width: 39.9375em){
  header{
    &.fixed{
      .header-bottom{
        padding: 5px 0;
      }
    }
  }
	.header{
		/* overflow: hidden; */
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		background: $wt;
		&__logo{
			text-align: center;
			img{
				height: 40px;
			}
		}
		.mob_contact{
			display: block !important;

		}
	}
	.header-top{
		position: absolute;
		right: 0;
		top: 55px;
		min-width: 240px;
		width: auto;
		transition: .5s;
		background: $wt;
		margin-right: -100%;
		padding: 20px 10px 5px 10px !important;
		.header__contact{
			float: none!important;
			ul{
				li{
					display: block;
					margin-right: 0 !important;
					border-bottom: 1px solid $bord-d;
					margin-bottom: 10px;
					padding-bottom: 3px;
					padding-left: 10px;
				}
			}
			a{
				display: block;
				margin-right: 0 !important;
        font-size: 15px;
        span{
          font-size: 15px;
        }
			}
		}
		.header__search{
			display: block !important;
			float: none !important;
			margin-top: -4px;
			.search{
				margin: 0;
				display: block !important;
				border-bottom: 1px solid $bord-d;
				img{
					left: 0 !important;
					right: auto !important;
				}
				input{
					margin-bottom: 6px;
				}
				&.is-active{

					input{
						width: 100%!important;
					}


				}
			}

		}
		&.active{
			margin-right: 0;
		}
		.lang{
			height: 37px;
			border-bottom: 1px solid $bord-d!important;
			margin-bottom: 40px;
			.nice-select{
				padding-left: 10px !important;
			}
		}
	}
	.header__menu{
		min-width: 260px;
		float: none;
    width: auto;
    display: inline-block;
		padding: 20px 30px 45px 15px;
		top: 55px;
		background: $wt;
		margin-left: -100%!important;
		position: absolute;
		left: 0 !important;
		transition:.5s;
		.nav-menu{
			display: block!important;
			margin: 0;
			li{
				margin-left: 0 !important;
				border-bottom: 1px solid $bord-d;
				margin-bottom: 10px;
        a{
          // font-size: 22px;
        }
        &.active{
          a{
            &:before{
              width: 0 !important;
            }
          }
        }
        &.current-menu-item {
          a{
            &:before{
              width: 0 !important;
            }
          }
        }
			}
		}
		.tel{
			text-align: center;
			margin-top: 20px;
			a{
				font-size: 15px;
				color: $blue;

			}
		}
		.mob_open{
			display: block !important;
		}

		&.active{
			margin-left: 0%!important;
		}
	}

}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.header__logo{
		padding-right: 0;
    img{
      max-width: 210px !important;
    }
	}
	.header__menu{
		.nav-menu{
			margin: 0;
			li{
				margin-left: 30px;
			}
		}
	}
}







