$button-width: 175px;
$spinner-width: $button-width/6;
$blue: $blue;
$btn-bg: $blue;
$text-light: #fefefe;



.form-wrap{
	background: #F7FCFF;
	padding: 65px 0 95px 0;
	margin-bottom: 150px;
	.title{
		color: #003D5B;
		margin-bottom: 10px;
		max-width: 550px;
		margin: 0 auto;
		.sub-title{
			margin: 0 auto;
			color: $blue;
			max-width: 850px;
		}
	}
	.form{
		&__inputs{
			padding-right: 35px;
			p{
				margin-bottom: 10px;
				font-size: 13px;
				color: $grey;
				padding-left: 27px;
			}
			input{
				margin-bottom: 20px;
				border-radius: 20px;
				border-color: $bord-d;
				background: none;
				height: 36px;
				box-shadow: none;
				padding-left: 25px;
				border-width: 2px;

				&:focus{
					border-color: $grey;
					border-width: 2px;
					box-shadow: none;
				}
			}
			textarea{
				border-radius: 20px;
				border-color: $bord-d;
				background: none;
				box-shadow: none;
				padding-left: 25px;
				min-height: 200px;
				border-width: 2px;

				&:focus{
					border-color: $grey;
					border-width: 2px;
					box-shadow: none;
				}
			}
		}
		&__foto{
			padding-top: 33px;
			img{
				border-radius: 20px;
				height: 380px;
				object-fit: cover;
			}
		}
		&__btn{
			margin-top: 80px;
			text-align: center;
			.btn{

				padding: 17px 79px;
			}
			.button{
				display: inline-block;
				min-width: $button-width;
				text-align: center;
				position: relative;
				cursor: pointer;
				background: $yellow;
				min-height: 44px;
				vertical-align: baseline;		
				&:hover{
					background: $yellow;
				}

				
				&:focus{
					outline: 0;
					background: $yellow;

				}



				@keyframes anim-moema-1 {
					10% {
						-webkit-transform: scale3d(0.9, 0.9, 1);
						transform: scale3d(0.9, 0.9, 1);
					}
					85% {
						-webkit-transform: scale3d(1, 1, 1);
						transform: scale3d(1, 1, 1);
					}
					100% {
						-webkit-transform: scale3d(1, 1, 1);
						transform: scale3d(1, 1, 1);
					}
				}

				&.animate{
					width: $button-width;
					min-width: 0;
					transition: .5s;
					color: transparent!important;
					animation: anim-moema-1 0.2s forwards;
					&:after{
						position: absolute;
						content: '';
						width: 27px;
						height: 27px;
						border: 4px solid $text-light;
						border-radius: 50%;
						border-left-color: transparent;
						left: 50%;
						top: 50%;

						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						animation: spin ease-in 1s forwards;
						animation-name: spin;
						-webkit-animation-name: spin; 
						transition-timing-function:ease-in-out;
						-webkit-transition-timing-function: ease-in-out;
						animation-duration: 1s;
						-webkit-animation-duration: 1s;
						animation-fill-mode: forwards;
						-webkit-animation-fill-mode: forwards;

					}

					&.success:before{
						position: absolute;
						content: '';
						width: 20px;
						height: 10px;
						border: 4px solid $text-light;
						border-right: 0;
						border-top: 0;
						left: 50%;
						top: 50%;
						margin-top: -3px;	
						-webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
						transform: translate(-50%, -50%) rotate(0deg) scale(0);
						-webkit-animation: success ease-in 0.15s forwards;
						animation: success ease-in 0.15s forwards;
						animation-delay: 1s;
					}
				}
			}

		}
	}
}


@media screen and (max-width: 39.9375em){
	.form-wrap{
		padding: 40px 0 40px 0;
		margin-bottom: 60px !important;
		.title{
			font-size: 20px;
			padding: 0 .625rem!important;
			.sub-title{
				font-size: 12px;
			}
		}
	}
	.form{
		&__inputs{
			padding-right: .625rem!important;
			p{
				font-size: 12px!important;
			}
			input{
				border-radius: 10px!important;
			}
			textarea{
				min-height: 140px!important;
			}
		}
		&__btn{
			margin-top: 40px!important;
			.btn{
				padding: 8px 46px!important;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.form-wrap{
		margin-bottom: 60px !important;
	}
}







