.slider-wrap{
	margin-bottom: 75px;
}

.slider-item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__img{
		img{
		    object-fit: cover;
		    width: 100%;
		    max-height: 700px;
		}
	}
	&__text{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 45%;
		padding: 0 15px;
		p{
			font-size: 60px;
			line-height: 1;
			font-weight: bold;
			color: $wt;
			text-shadow: 0px 0px 12px rgba(37, 92, 127, 0.9);

		}	}
	&__btn{
		text-align: center;
		margin-top: 70px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 70px;

	  //   a{
			// background: $blue;
			// color: $wt;
			// border-color: $blue;
			// &:hover{
			// 	background: $blue-d;
			// 	border-color: $blue-d;
			// }
	  //   }
	}
}

.slick-control{
	position: absolute;
	right: 0;
	top: 50%;
	max-width: 1140px;
	margin: 0 auto;
	left: 0;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex!important;
	flex-direction: column;
	li{
		width: 12px;
	    height: 12px;
	    /* background: #ccc; */
	    border:3px solid $bord-d ;
	    display: block;
	    text-align: right;
	    margin-bottom: 10px;
	    margin-left: auto;
	    border-radius: 50%;
	    cursor: pointer;
	    position: relative;
	    [role=tab]{
			display: none;
		}
	
		&.slick-active{
			position: relative;
			&:before{
				content:"";
				display: block;
				position: absolute;
				width: 4px;
				top: 1px;
				left: 1px;
				height: 4px;
				background: $bord-d;
				border-radius: 50%;
			}
		}
	}
}





@media screen and (max-width: 39.9375em){
	.slider-item{
		&__img{
			img{
				height: 450px;
			}
		}
		&__text{
			p{
				font-size: 30px;
			}
		}
	}
	.slick-control{
		bottom: 30px !important;
		left: 0 !important;
		right: 0 !important;
		top: auto!important;
		display: block !important;
		text-align: center;
		li{
			display: inline-block;
			margin: 0 5px;
		}
	}
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.slider-item{
		&__img{
			img{
				height: 650px;
			}
		}
		&__text{
			p{
				font-size: 45px;
			}
		}
	}
	.slick-control{
		right: 15px;
	}
}


