.our-team{
	padding:  60px;
	margin-bottom: 80px;
	background: linear-gradient(to bottom, rgba(228,236,241,0.24) 0%, rgba(248,249,250,0.09) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ecf1', endColorstr='#f8f9fa', GradientType=0 );
	.title{
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 60px;
	}
	&__text{
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		font-size: 15px;
		margin-bottom: 30px;
	}
	&__btn{
		text-align: center;
	}
	&__slider-wrap{
		position: relative;
		margin-bottom: 70px;
	}
	.t-Next{
		position: absolute;
		right: -40px;
		top: 50%;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background: $bord;
		transition: .2s;
		text-align: center;
		padding-top: 12px;
		cursor: pointer;
		&:hover{
			background: #CADAE4;
		}
	}
	.t-Prev{
		position: absolute;
		left: -40px;
		top: 50%;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background: $bord;
		transition: .2s;
		text-align: center;
		padding-top: 12px;
		cursor: pointer;
		&:hover{
			background: #CADAE4;
		}
	}
}

.our-team__slier{
  display: flex;
  flex-wrap: wrap;
}

.our-team-item{
	// max-width: 210px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	display: block !important;
  margin-bottom: 30px;
	&__foto{
		img{
			width: 100%;
			height: 277px;
			object-fit: cover;
		}
	}
	&__info{
		span{
			font-size: 12px;
		}
		p{
			font-size: 12px;
		}
		position: absolute;
		top: 73%;
		background: #ffffffd9;
		padding: 14px;
		border-radius: 20px;
		transition:.3s;
		height: 100%;
		left: -1px;
		right: -1px;
		.item-name{
			text-align: center;
			span{
				font-size: 15px;
				font-weight: 500;
			}
		}
		.item-info_soc{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			i{
				margin: 0 15px;
				font-size: 20px;
			}
		}
		.position{
			text-align: center;
		}

	}
	&:hover{
		.our-team-item__info{
			top: 0;
		}

	}
}

@media screen and (max-width: 39.9375em){
  .our-team{
    padding: 60px 15px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .our-team{
    padding: 60px 15px;
  }
	.our-team-item{
		max-width: 225px;
		span{
			font-size: 15px;
		}
		p{
			font-size: 15px;
		}
		&__foto{
			img{
				height: 300px;
				width: 225px;
			}
		}
		.item-name{
			span{
				font-size: 18px;
			}
		}
	}
}




