.slider-partners{
	padding-top: 75px;
	padding-bottom: 120px;

	.title{
		margin-bottom: 60px;
	}
	

	.partners__slider{
		img{
			max-height: 90px;
			margin: 0 10px;
		}
	}

	&__top{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		
	}
	&__mid{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		margin-bottom: 50px;
		
	}
	&__bottom{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		img{
			margin: 0 20px;
		}
	}
}

@media screen and (max-width: 39.9375em){
	.partners{
		padding: 0 15px;
		.title{
			font-size: 20px!important;
		}
		
		img{
			max-height: 65px!important;
		}
	}
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.partners{
		.title{
			font-size: 30px;
		}
	}
}















