.reviews-slider{
	padding: 30px;
	background: $wt;
	border-radius: 20px;
	transition: .2s;
	margin-bottom: 130px;
	position: relative;
	&:hover{
		box-shadow: 0px 7px 24px #E4ECF1;
	}
	.title{
		margin-bottom: 30px;
	}
	.all-reviews{
		text-align: center;
		margin-top: 70px;
		a{
			font-size: 15px;
			font-weight: 500;
			color: $blue;
			transition: .2s;
			&:hover{
				color: $yellow;
			}
			i{
				font-size: 13px;
				margin-right: 5px;
			}
		}
	}
	.r-Next{
		position: absolute;
		right: 40px;
		top: 50%;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background: $bord;
		transition: .2s;
		text-align: center;
		padding-top: 12px;
		cursor: pointer;
		&:hover{
			background: #CADAE4;
		}
	}
	.r-Prev{
		position: absolute;
		left: 40px;
		top: 50%;
		width: 41px;
		height: 41px;
		border-radius: 50%;
		background: $bord;
		transition: .2s;
		text-align: center;
		padding-top: 12px;
		cursor: pointer;
		&:hover{
			background: #CADAE4;
		}
	}
}

.reviews-item{
	text-align: center;
	padding: 0 80px;
	padding-top: 40px;
	&__text{
		max-width: 705px;
		font-size: 15px;
		font-style: italic;
		margin: 0 auto;
		margin-bottom: 30px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: -10px;
			left: -50px;
			display: block;
			width: 25px;
			height: 20px;
			background: url("../images/“.svg");
			background-repeat: no-repeat;
		}
		&:before{
			content: '';
			position: absolute;
			top: -10px;
			right: -50px;
			display: block;
			width: 25px;
			height: 20px;
			background: url('../images/”.svg');
			background-repeat: no-repeat;
		}
	}
	&__user{
		/* text-align: center; */
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		.reviews-user_foto{
			margin-right: 20px;
			width: 75px;
			height: 75px;
			overflow: hidden;
			border-radius: 50%;
		}
		.reviews-user_name{
			font-size: 12px;
			color: $blue;
			font-weight: 500;
			margin-bottom: 5px;
		}
		.reviews-user_status{
			text-align: left;
			font-style: italic;
			color: $grey;
		}
	}
}


@media screen and (max-width: 39.9375em){
	.reviews-slider{
		margin-bottom: 60px !important;
	}
	.reviews-item{
		padding: 0 !important;
		padding-top: 40px !important;
	}
	.r-Next{
		bottom: 65px !important;
		top: auto!important;
	}
	.r-Prev{
		bottom: 65px !important;
		top: auto!important;
	}
	.all-reviews{
		// margin-top: 30px !important;
	}
}












