
.massage{
	.title{
		margin-bottom: 48px;
	}
	article{
		.massage-item{
			margin-bottom: 100px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: stretch;
			&__img{
				img{
					height: 308px;
					object-fit: cover;
					border-radius: 20px;
					width: 100%;
					transition: .2s;
				}
			}
			&__content{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;

				.massage_title{
					color: $black;
					margin-bottom: 15px;

					a{
						color: $black;
						font-weight: 500;
						font-size: 30px;
						transition:.2s;
						span{
							font-weight: 500;
							font-size: 30px;
						}
						&:hover{
							color: $blue;
						}
					}
				}
				.massage_text{
					p{
						font-size: 15px;
						color: $black;

					}
				}
				.massage_type{
					margin-bottom: 20px;
					ul{
						list-style: none;
						margin: 0;
						li{
							width: 50%;
							float: left;
							a{
								font-size: 15px;
								color: $blue;
								text-decoration: underline;
								transition: .2s;
								&:hover{
									color: $yellow;
								}
							}
						}
					}
				}
				.massage_btn{
					margin-top: auto;
					a{
						font-size: 15px;
						color: $blue_d;
						transition:.2s;
						font-weight: 500;
						position: relative;
						i{
							font-size: 12px;
							margin-left: 7px;
							font-weight: 900;
							position: absolute;
							top: 5px;
							right: -15px;
							transition:.2s;
						}
						&:hover{
							color: $yellow;
							i:last-child{
								right: -22px;
							}
						}
					}
					
				}
			}
			&:hover{
				.massage-item__img{
					img{
						box-shadow: 0px 7px 24px #E4ECF1;
					}
					
				}
				
			}

		}
		&:nth-child(odd){
			.massage-item__img{
				/* float: right; */
				order: 2;
			}
		}
	}
}

@media screen and (max-width: 39.9375em){
	.massage-item{
		display: block!important;
		margin-bottom: 60px !important;
		&__content{
			.massage_title{
				margin-bottom: 0px !important;
				span{
					font-size: 20px !important;
				}
				
			}
		}
		&__img{
			img{
				height: 178px !important;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.massage-item{
		display: block!important;
		margin-bottom: 60px !important;
	}
}














