.zaglushka{
	position: relative;
	
	text-align: center;
	background: #e4ecf1; 
	background: -moz-linear-gradient(top, #e4ecf1 0%, #fbfbfb 100%);
	background: -webkit-linear-gradient(top, #e4ecf1 0%,#fbfbfb 100%); 
	background: linear-gradient(to bottom, #e4ecf1 0%,#fbfbfb 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ecf1', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
	&_content{
		padding: 60px 15px;
		min-height: 100vh;
		display: flex;
		justify-content: space-between;
   		flex-direction: column;
	}
	&__logo{
		// margin-bottom: 85px;
		max-width: 338px;
		margin-left: auto;
		margin-right: auto;
	}
	&__countdown{
		// margin-bottom: 60px;
		p{
			font-size: 15px;
			a{
				color: #4460AC;
				text-decoration: underline;
			}
		}
		#countdown{
			font-size: 47px;
			margin-bottom: 35px;
			line-height: 1.1;
		}
	}
	&__btn{ 
		// margin-bottom: 230px;
		a{
			background: #003375;
			box-shadow: 0px 0px 10px rgba(0, 42, 60, 0.3);
			border-radius: 8px;
			color: #fbfbfb;
			font-size: 16px;
			font-weight: 500;
			padding: 18px 46px;
			display: flex;
			max-width: 280px;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			transition:.2s;
			&:hover{
				    box-shadow: 0px 0px 25px rgba(0, 42, 60, 0.9);
			}
		}
		.fa{
			margin-right: 20px;
			font-size: 30px;
		}
	}
	&__footer{
		font-size: 15px;

		p{
			font-weight: bold;
		}
		&-contacts{
			text-align: left;
			a{
				display: block;
				color: $black;
				
				&.email{
					text-decoration: underline;
				}
			}
		}
		&-adress{
			text-align: right;
			a{
				display: block;
				color: $black;
				text-decoration: underline;
			}
		}
	}
}



@media screen and (min-width: 40em) and (max-width: 63.9375em){

}


@media screen and (max-width: 39.9375em){

	.zaglushka{
		
		&_content{
			padding: 15px 15px;
		}
		#countdown{
			font-size: 28px!important;
		}
		&__countdown{
			p{
				font-size: 13px;
			}
		}
		&__btn{
		
		}
		&__footer{
			font-size: 13px;
		}
	}

}
