.about_title{
	span{
		font-size: 35px;
		font-weight: 500;
		color: $blue-d;
	}
	
	text-align: center;
	margin-bottom: 80px;
}

.about-blok{
	font-size: 15px;
	margin-bottom: 100px;
	display: flex;
	&__text{
		p{
			margin-bottom:10px;
		}
	}
	&-title{
		span{
			font-size: 20px;
			font-weight: 500;
		}
		
		margin-bottom: 30px;
	}
	&__foto{
		padding-left: 50px;
		margin-bottom: 20px;
		img{
			border-radius: 20px;
			width: 100%;
			height: 397px;
			object-fit: cover;
		}
	}
	&:nth-child(odd){
		.about-blok__foto{
			padding-left: 15px;
			padding-right: 50px;
			order:-1;
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.about-blok{
		flex-direction: column;
		&-title{
			span{
				font-size: 25px;
			}
			
		}
		.about-blok__foto{
			padding: 0 15px !important;
			order: -1;
		}
	}
	.about_title{
		margin-bottom: 45px;
		span{
			font-size: 30px;
		}
	}
}


@media screen and (max-width: 39.9375em){
	.about-blok{
		flex-direction: column;
		.about-blok__foto{
			padding: 0 15px !important;
			order: -1;
			img{
				height: 178px;
			}
		}
	}
	.about_title{
		margin-bottom: 22px;
		span{
			font-size: 25px;
		}
	}
}











