.blog-item{
	display: flex;

	margin-bottom: 50px;
	&__date{
		min-width: 77px;
		height: 77px;
		border: 2px solid $bord;
		text-align: center;
		color: $black;
		border-radius: 10px;
		padding: 17px;
		font-weight: 500;
		margin-right: 30px;
		line-height: 1.1;
		span{
			font-size: 16px;
			font-weight: bold;
			display: block;
			&:last-child{
				font-size: 13px;
				font-weight: 500;
				display: inline-block;
				margin-top: 4px;
			}
		}
	}
	&__foto{
		margin-bottom: 15px;
		img{
			border-radius: 10px;
			width: 100%;
			height: 397px;
			object-fit: cover;
		}
	}
	&__content{
		font-size: 15px;
		border-bottom: 1px solid $bord-d;
		width: 100%;
		.posted-by{
			margin-bottom: 6px;
			color: $grey;
			a{
				color: $black;
			}
		}
	}
	&__title{
      font-size: 30px;
      font-weight: 500;
      transition:.2s;
      color: $black;
       line-height: 35px;
		a{
			font-size: 30px;
			font-weight: 500;
			transition:.2s;
			color: $black;
      line-height: 35px;
			&:hover{
				color: $yellow;
			}
		}

		margin-bottom: 15px;
	}
	&__text{
		a{
			color: $black;
			text-decoration: underline;
		}
	}
}
.rubriks-info{
  padding-left: 108px;
}
.nav-links{
	margin-bottom: 50px;
	.page{
		font-size: 16px;
		font-weight: 500;
		border-radius: 10px;
		background: $bord;
		width: 35px;
		height: 35px;
		display: inline-block;
		text-align: center;
		padding-top: 5px;
		margin: 0 7px;
		color: $black;
		transition:.2s;
		border: 2px solid $bord;
		&:hover{
			background: none;
			border: 2px solid $bord;
		}
		// &.current{
		// 	background: none;
		// 	border: 2px solid $bord;
		// }
	}
	.current{
		font-size: 16px;
		font-weight: 500!important;
		border-radius: 10px;
		background: $bord;
		width: 35px;
		height: 35px;
		display: inline-block;
		text-align: center;
		padding-top: 5px;
		margin: 0 7px;
		color: $black;
		transition:.2s;
		background: none;
		border: 2px solid $bord!important;
	}
	.prev, .next, .previouspostslink, .nextpostslink{
		color: $grey;
		font-size: 15px;
		background: none;
		width: auto;
		border: none;
		margin: 0 13px;
		&:hover{
			background: none;
			border: none;
		}
	}
}
.blog__title{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  font-size: 30px;
  color: $black;
  margin-bottom: 45px;
  padding-left: 122px;
}



@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.nav-links{
		padding-left: 100px;
	}
	.blog-item{
		padding-right: 55px;
	}
  .rubriks-info{
    padding-right: 55px;
  }
}


@media screen and (max-width: 39.9375em){
  .blog__title{
    text-align: center;
    padding-left: 0;
  }
  .rubriks-info{
    padding-left: 0px;
    padding-right: 0;
  }
	.blog-item{
		display: block;
		padding-right: 0;
		margin-bottom: 30px !important;
		&__date{
			width: 77px;
			margin-bottom: 10px;
      display: none;
		}
    &__foto{
      img{
        height: 190px;
      }
    }
		&__title{
      line-height: 25px;
			a{
				font-size: 20px;
        line-height: 25px;
			}

		}
	}
}












































