.content{
  // margin-top: 150px;
  float: left!important;

  .category{
    display: none;
    &__title{
      span{
        font-weight: 500;
        font-size: 35px;
        letter-spacing: -1.3px;
      }

      margin-bottom: 10px;
    }
    &__img{
      margin-bottom: 30px;
      img{
        height: 310px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    &__text{
      // font-size: 15px;
      margin-bottom: 60px;
    }
    &.active{
      display: block;
    }
  }

}

.sidebar-left{
  ul{
    padding-right: 40px;
    margin: 0;
    list-style: none;
    li{
      font-size: 15px;
      color: $black;
      font-weight: 300;
      cursor: pointer;

      border-bottom: 1px solid $bord;
      a{
        color: $black;
        display: block;
        padding: 10px 0 5px 0 ;
        &:hover{
          color: $blue-d;
        }

      }


      &.active{
        a{
          font-weight: 500;
          color: $blue-d;
        }
      }
    }

  }

}


.price-item{
  // font-size: 15px;
  margin-bottom: 70px;
  &__title{
    margin-bottom: 20px;
    a{
      font-size: 30px;
      color: $black;
      font-weight: 500;
      transition: .2s;
      &:hover{
        color:$blue-d;
      }
    }
  }
  &__text{
    padding-left: 0;
    p{
      margin: 0;
    }
    .massage_btn{
      margin-top: 11px;
      a{
        font-size: 15px;
        color: $blue_d;
        transition:.2s;
        font-weight: 500;
        position: relative;
        text-decoration: none;
        i{
          font-size: 12px;
          margin-left: 7px;
          font-weight: 900;
          position: absolute;
          top: 5px;
          right: -15px;
          transition:.2s;
        }
        &:hover{
          color: $yellow;
          i:last-child{
            right: -22px;
          }
        }
      }
    }
  }
  &__btn{
    margin-top: 30px;
    a{
      width: 100%;
      font-size: 15px;
      text-align: center;
      padding: 7px;
      text-decoration: none !important;

    }
  }
  &__info{
    display: none;
    background: #FFF;
    position: absolute;
    top: -8px;
    left: -34px;
    z-index: 2;
    border: 1px solid $grey;
    border-radius: 20px;
    padding: 10px;

    .info__close {
      float: left;
      margin-right: 10px;
      border: 1px solid $grey;
      border-radius: 50%;
      width: 19px;
      height: 19px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      img{
        margin: 0;
      }
    }
    .info__title{
      margin-top: -5px;
      span{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        line-height: 20px;
        font-size: 12px;
        color: $black;
      }
    }
    .info__text{
      padding-left: 30px;
      p{
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        line-height: 12px;
        font-size: 12px !important;
        color: $black;
      }
    }
  }
  .info-icon{
    position: absolute;
    cursor: pointer;
    left: -23px;
    top: 3px;
    border: 1px solid $grey;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    padding-top: 2px;
    padding-left: 1px;
    img{
      height: 12px;
    }
  }
  &__price{
    float: left!important;
    padding-left: 45px;
    ul{
      margin: 0;
      list-style: none;
      position: relative;
      li{
        width: 100%;
        display: flex;
        justify-content: space-between;
        // overflow: hidden;
        position: relative;
        span{
          font-size: 14px;
        }
        .left{
          color: $grey;
          position: relative;
          background: #fff;

        }
        .right{
          background: #fff;
        }
        &:after{
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          border-bottom: 1px dotted $grey;
          bottom: 7px;
          z-index: -1;
        }
      }
      &:before{
        content: '';
        height: 100%;
        width: 2px;
        background: $bord-d;
        position: absolute;
        left: -45px;
      }
    }
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em){
  .sidebar-left{
    ul{

      li{
        font-size: 18px;
      }
    }
  }
  .category__title{
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 39.9375em){
  .price-item__price{
    padding: 0;
    margin-left: 0 !important;
    ul{
      padding-left: 25px;
      &:before{
        display: none;
      }
    }
  }
  .price-item__title{
    a{
      font-size: 23px;
    }
  }
  .price-item__text{
    margin-bottom: 20px;
  }
  .category__title{
    margin-top: 30px !important;
    span{
      font-size: 25px!important;
    }

  }
  .category__img{
    img{
      height: 178px!important;
    }
  }
  .sidebar-left{
    ul{
      padding-right: 0 !important;
    }
  }
  .price-item__btn{
    text-align: center;
    .btn{
      max-width: 290px;
    }
  }
}




