.categoryEntry{
	margin-bottom: 100px;
	&__title{
		span{
			font-weight: 500;
			font-size: 35px;
			letter-spacing: -1.3px;
		}

		margin-bottom: 10px;
	}
	&__img{
		margin-bottom: 30px;
		img{
			height: 310px;
			width: 100%;
			object-fit: cover;
			border-radius: 20px;
		}
	}
	&__text{
		font-size: 15px;
		margin-bottom: 60px;
	}
	.price-item__price{
		padding-left: 0;
		float: none!important;
		margin-bottom: 110px;
    margin-left: 23px;


    .price-item__info{
      display: none;
      background: #FFF;
      position: absolute;
      top: -8px;
      left: -34px;
      z-index: 2;
      border: 1px solid $grey;
      border-radius: 20px;
      padding: 10px;

      .info__close {
        float: left;
        margin-right: 10px;
        border: 1px solid $grey;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        img{
          margin: 0;
        }
      }
      .info__title{
        margin-top: -5px;
        span{
          font-family: Rubik;
          font-style: normal;
          font-weight: bold;
          line-height: 20px;
          font-size: 12px;
          color: $black;
        }
      }
      .info__text{
        padding-left: 30px;
        p{
          font-family: Rubik;
          font-style: normal;
          font-weight: 300;
          line-height: 12px;
          font-size: 12px !important;
          color: $black;
        }
      }
    }
    .info-icon{
      position: absolute;
      cursor: pointer;
      left: -23px;
      top: 3px;
      border: 1px solid $grey;
      border-radius: 50%;
      width: 19px;
      height: 19px;
      text-align: center;
      padding-top: 2px;
      padding-left: 1px;
      img{
        height: 12px;
      }
    }


		ul{
			li{
				font-size: 15px;
			}
			&:before{
				display: none;

			}
		}
	}
}

@media screen and (max-width: 39.9375em){
	.categoryEntry{
    &__img{
      img{
        height: 190px;
      }
    }
		&__title{
			span{
				font-size: 25px;
			}

		}
	}
}
