.contactPage{
	.title{
		span{
			font-size: 35px;
		}

	}
  .partners{
    background:none !important;
  }
}
.contact-form{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 60px;
	background: #FCFEFF;
	transition:.2s;
	border-radius: 20px;
	box-shadow: 0 1px 6px rgba(228,236,241,.7);
	padding: 55px 105px;
	max-width: 600px;
	p{
		color: $grey;
		font-size: 13px !important;
		padding-left: 20px;
		margin-bottom: 10px !important;
	}
	&:hover{
		box-shadow: 0px 7px 24px #E4ECF1;
	}
	form{
		input,textarea{
			height: 36px;
			border-radius: 20px;
			margin: 0;
			margin-bottom: 20px;
			box-shadow: none;
			border-color: $bord-d;
			padding-left: 18px;
			border-width: 2px;
			&:focus{
				border-color: $grey;
				border-width: 2px;
				box-shadow: none;
			}
		}
		textarea{
			min-height: 80px;
		}
	}
	.contact-form__btn{
		text-align: center;
		margin-top: 30px;
	}
	.button{
		display: inline-block;
		min-width: $button-width;
		text-align: center;
		position: relative;
		cursor: pointer;
		background: $yellow;
		min-height: 44px;
		vertical-align: baseline;
		&:hover{
			background: $yellow;
		}


		&:focus{
		    outline: 0;
		    background: $yellow;

		}



		@keyframes anim-moema-1 {
			10% {
				-webkit-transform: scale3d(0.9, 0.9, 1);
				transform: scale3d(0.9, 0.9, 1);
			}
			85% {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
			}
			100% {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
			}
		}

		&.animate{
		    width: $button-width;
		    min-width: 0;
		    transition: .5s;
		    color: transparent!important;
		    animation: anim-moema-1 0.2s forwards;
			&:after{
				position: absolute;
				content: '';
				width: 27px;
				height: 27px;
				border: 4px solid $text-light;
				border-radius: 50%;
				border-left-color: transparent;
				left: 50%;
				top: 50%;

				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				animation: spin ease-in 1s forwards;
				animation-name: spin;
				-webkit-animation-name: spin;
				transition-timing-function:ease-in-out;
				-webkit-transition-timing-function: ease-in-out;
				animation-duration: 1s;
				-webkit-animation-duration: 1s;
				animation-fill-mode: forwards;
                -webkit-animation-fill-mode: forwards;

			}

			&.success:before{
				position: absolute;
				content: '';
				width: 20px;
				height: 10px;
				border: 4px solid $text-light;
				border-right: 0;
				border-top: 0;
				left: 50%;
				top: 50%;
				margin-top: -3px;
				-webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
				transform: translate(-50%, -50%) rotate(0deg) scale(0);
				-webkit-animation: success ease-in 0.15s forwards;
				animation: success ease-in 0.15s forwards;
				animation-delay: 1s;
			}
		}
	}
}
@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.contactPage{
		.title{
			span{
				font-size: 30px;
			}

		}

	}
}
@media screen and (max-width: 39.9375em){
	.contactPage{
		.title{
      margin-bottom: 40px;
			span{
				font-size: 25px !important;
			}
		}
    .bases-title{
      margin-bottom: 30px;
      span{
        font-weight: 500;
      }
    }
    .bases-item__city{
      margin-bottom: 15px;
    }
    .bases-item__work-time{
      margin-bottom: 15px;
    }

	}
	.contact-form{
			padding: 40px 15px !important;
		}
}
