$button-width: 175px;
$spinner-width: $button-width/6;
$blue: $blue;
$btn-bg: $blue;
$text-light: #fefefe;


@keyframes spin {
   0% {
			-webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
			/* opacity: 0; */
	}
	90%{-webkit-transform: translate(-50%, -50%) rotate(600deg) scale(1);
		/* opacity: 1; */
	}
	100% {
			-webkit-transform:translate(-50%, -50%) rotate(600deg) scale(0);
			/* opacity: 1; */
	}
}

@-webkit-keyframes spin {
  0% {-webkit-transform: translate(-50%,-50%) rotate(0deg) scale(1);}

  98% {-webkit-transform: translate(-50%,-50%) rotate(600deg) scale(1);}

  100% {-webkit-transform: translate(-50%,-50%) rotate(600deg) scale(0);}
}

@keyframes success{
    from {
       transform: translate(-50%, -50%) rotate(0) scale(0);
       }
    to {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}

@-webkit-keyframes success{
    from {
       -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
       }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}
.datepicker-days{
  td.day{
    width: 35px !important;
    height: 30px !important;
  }
}

#dp2[readonly]{
  background: #fff;
  cursor: pointer;
}



.popupForm{
	max-width: 600px;
	margin: 0 auto;
	padding: 75px 75px;
	padding-bottom: 25px;
	background: #FCFEFF;
	// transition:.2s;
	border-radius: 20px;
	box-shadow: 0 1px 6px #E4ECF1;
	&:hover{
		box-shadow: 0px 7px 24px #E4ECF1;
	}

  .inp_item{
    width: 50%;
    &_left{
      padding-right: 15px;
    }
    &_right{
      padding-left: 15px;
    }
  }

	.form{
		/* height: 0%; */
    max-height: 220px;
		transition: 1s;
		overflow: hidden;
		&.active{
			/* height: 100%; */
      max-height: 1350px;
		}
		p{
			color: $black;
			font-size: 15px;
			margin-bottom: 10px;
			padding-left: 0px;
		}
	}
  .popupForm__price{
    span{
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 20px;
      text-align: center;
      letter-spacing: -0.06em;

      color: $black;
    }
  }
  .popupForm__radio{
    padding: 0;
    margin: 20px 0;

    .input-items{
      display: flex;
      // justify-content: space-between;
      margin: 0 -6px;
      flex-wrap: wrap;
    }
    .input-item{
      padding: 0 6px;
      width: 33.333%;

      .input-item__info{
        position: absolute;
        background: #fff;
        padding-top: 8px;
        top: -3px;
        left: -2px;
        right: -2px;
        border: 2px solid $bord-d;
        border-radius: 20px;
        z-index: -1;
        opacity: 0;
        transition: .2s;

        .info__title{
          text-align: left;
          padding: 0 10px;
          span{
            color: $black;
            font-size: 12px;
            font-weight: bold;
          }
        }

        .info__text{
          text-align: left;
          padding: 0 10px;
          p{
            font-size: 12px !important;
            line-height: 12px;
            padding: 0;
            color: $black;
          }
        }
      }
      .input-info{
        &:hover{
          .input-item__info{
            z-index: 1 !important;
            opacity: 1 !important;
          }
        }
      }
      .info-icon{
        position: absolute;
        right: 10px;
        top: 10px;
        border: 1px solid $grey;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding-left: 1px;
        z-index: 2;

        img{
          margin: 0;
        }
      }
      .type{
        margin-bottom: 10px;
        span{
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 15px;
          text-align: center;
          color: #2D7192;
        }
      }
      &__icon{
        margin-bottom: 15px;
        i{
          color: #2D7192;
          font-size: 36px;
        }
        .fa-heart{
          font-size: 22px;
        }
      }
      &__price{
        span{
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 15px;
          text-align: center;
          color: #2D7192;
          letter-spacing: -0.06em;

        }
      }
    }

    input[type="radio"]{
      visibility: hidden;
      height: 0;
      width: 0;
      display: none;
    }

    label {
      position: relative;
      margin: 0;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      color: white;
      border-radius: 20px;
      padding: 30px 10px 15px 10px;
      border: 2px solid #2D7192;

    }
    input[type="radio"]:checked + label{
      border-color: #0288C8;
      background: #E1F5FE;
      .info-icon{
        border-color: #0288C8;
        background: #fff;
      }
      .type{
        span{
          color: #0288C8;
        }
      }
      .input-item__price{
        span{
          color: #0288C8;
          font-weight: 500;
        }
      }
      .input-item__icon{
        i{
          color:  #0288C8;
        }
      }
    }
  }
	.allForm{
		text-align: center;
		font-size: 12px;
		color: $grey;
		margin-bottom: 50px;
		margin-top: 20px;
		span{
			cursor: pointer;
			display: inline-block;
			text-decoration: underline;
			position: relative;
      font-size: 15px;
      color: $black;
			&:before{
				width: 7px;
				height: 7px;
				position: absolute;
				top: 4px;
				left: -15px;
				content: '';
				border-bottom: 1px solid $black;
				border-right: 1px solid $black;
				transform: rotate(45deg);
			}
		}

	}
	.title{
		span{
			margin-bottom: 50px;
			font-size: 30px;
			color: $blue;
			letter-spacing: -1.5px;
		}

	}
	p{
		font-size: 15px;
		margin-bottom: 10px;
	}
	span{
		font-size: 12px;
		color: $grey;
	}
	input,textarea,select{
		outline: none;
		height: 36px;
		border-radius: 20px;
		margin: 0;
		margin-bottom: 20px;
		box-shadow: none;
		border-color: $bord-d;
		padding-left: 18px;
		border-width: 2px;
		&:focus{
			border-color: $grey;
			border-width: 2px;
			box-shadow: none;
		}
	}
	textarea{
		height: 150px;
		margin-bottom: 10px;
	}
	&__left{
		// padding-left: 0 !important;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
	}
	&__right{
		padding-right: 0;
	}
	.nice-select{
		border-radius: 20px;
		display: block;
		width: 100%;
		height: auto;
		min-height: 36px;
		border-color: $bord-d;
		border-width: 2px;
		margin-bottom: 20px;
		color: $grey;
		line-height: 20px!important;
		padding-top: 6px;
		white-space: normal;
		span{
			font-size: 15px;
		}
		// .option{
		// 	line-height: 20px!important;
		// 	margin-bottom: 7px;
		// }
		&:focus{
			border-color: $grey;
			border-width: 2px;
			box-shadow: none;
		}
		.list{
			width: 100%;
			margin-left: 0;
		}
		.current{
			// line-height: px!important;
		}
	}
	&__btn{
		.btn{
		    padding: 12px 40px;
		    width: 175px;
		    margin: 0 10px;

		}
		margin-top: 30px;
		text-align: center;
		#btn_resset{
			display: none;
			margin-top: 15px;
		}
		.button{
			display: inline-block;
			min-width: $button-width;
			text-align: center;
			position: relative;
			cursor: pointer;
			background: $yellow;
			min-height: 44px;
			vertical-align: baseline;
			&:hover{
				background: $yellow;
			}


			&:focus{
			    outline: 0;
			    background: $yellow;

			}



			@keyframes anim-moema-1 {
				10% {
					-webkit-transform: scale3d(0.9, 0.9, 1);
					transform: scale3d(0.9, 0.9, 1);
				}
				85% {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
				100% {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
			}

			&.animate{
			    width: $button-width;
			    min-width: 0;
			    transition: .5s;
			    color: transparent!important;
			    animation: anim-moema-1 0.2s forwards;
				&:after{
					position: absolute;
					content: '';
					width: 27px;
					height: 27px;
					border: 4px solid $text-light;
					border-radius: 50%;
					border-left-color: transparent;
					left: 50%;
					top: 50%;

					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					animation: spin ease-in 1s forwards;
					animation-name: spin;
					-webkit-animation-name: spin;
					transition-timing-function:ease-in-out;
					-webkit-transition-timing-function: ease-in-out;
					animation-duration: 1s;
					-webkit-animation-duration: 1s;
					animation-fill-mode: forwards;
                    -webkit-animation-fill-mode: forwards;

				}

				&.success:before{
					position: absolute;
					content: '';
					width: 20px;
					height: 10px;
					border: 4px solid $text-light;
					border-right: 0;
					border-top: 0;
					left: 50%;
					top: 50%;
					margin-top: -3px;
					-webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
					transform: translate(-50%, -50%) rotate(0deg) scale(0);
					-webkit-animation: success ease-in 0.15s forwards;
					animation: success ease-in 0.15s forwards;
					animation-delay: 1s;
				}
			}
		}
	}
}



@media screen and (max-width: 39.9375em){
	.popupForm{
		padding: 25px 15px;
		/* margin: 0 -15px; */
		.title{
			margin-bottom: 5px;
			span{
				font-size: 20px;
			}

		}
    .inp_item{
      width: 100%;
      padding: 0 !important;
      &:nth-child(1){
        // order: 1;
      }
      &:nth-child(2){
        // order: 3;
      }
      &:nth-child(3){
        // order: 2;
      }
      &:nth-child(4){
        // order: 4;
      }
    }
		.form{
      height: auto;
			&.active{
				height: auto;
			}
		}
		.popupForm__right{
			padding-left: 0;
		}
		.popupForm__left{
			padding-right: 0 !important;
		}
		.nice-select{
			.option{
				line-height: 20px!important;
				// margin-bottom: 7px;
				padding-top: 8px;
				padding-bottom: 7px;
			}
		}
	}
	.reveal{
		height: auto;
		background: none;
		min-height: auto;
		.popupForm{
			margin: 0;
		}
	}
  .popupForm__radio{
    .input-item{
      width: 50% !important;
      margin-bottom: 12px;
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.popupForm{
		padding: 25px 75px;
		.form{
			&.active{
				height: auto;
			}
		}
	}

}


.reveal{
	padding: 0;
	border-radius: 20px;
}







