.sidebar_right{
	.search{
		border-bottom:1px solid $bord-d;
		padding-bottom: 30px;
		margin-bottom: 40px;
		span{
			font-weight: 600;
		}
	}
	.search__input{
		margin-top: 30px;
		form{
			input{
				height: 30px;
				border-radius: 20px;
				margin: 0;
				margin-bottom: 20px;
				box-shadow: none;
				border-color: $bord;
				border-width: 2px;
				padding-left: 17px;
				&:focus{
					border-color: $grey;
					border-width: 2px;
					box-shadow: none;
				}
			}
		}
	}
	.categories{
		border-bottom:1px solid $bord-d;
		padding-bottom: 30px;
		span{
			font-weight: 600;
			margin-bottom: 30px;
			display: inline-block;
		}
		ul{
			margin: 0;
			list-style: none;
			li{
				a{
					color: $grey;
					font-size: 15px;
				}
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.sidebar_right{
		padding-left: 122px;
		padding-right: 70px;
	}
}