.specialization{
	margin-bottom: 120px;
	padding: 0 15px;
	&__title{
		span{
			font-size: 20px;
			font-weight: 500;
		}
		
		margin-bottom: 60px;
		text-align: center;
	}
	&-items{
		display: flex;
		justify-content: space-between;
	}
	&-item{
		max-width: 180px;
		
		&__icon{
			width: 140px;
			height: 140px;
			background: #E1F5FE;
			border-radius: 50%;
			align-items: center;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			
			margin: 0 auto;
			margin-bottom: 25px;
		}
		&__text{
			text-align: center;
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.specialization-items{
		justify-content: center;
		flex-wrap: wrap;
		article{
			width: 33%;
		}
		.specialization-item{
			margin: 0 auto;
			margin-bottom: 50px;
		}
	}
	.specialization__title{
		span{
			font-size: 25px;
		}
	}
}


@media screen and (max-width: 39.9375em){
	.specialization-items{
		justify-content: center;
		flex-wrap: wrap;
		article{
			width: 100%;
		}
		.specialization-item{
			margin: 0 auto;
			margin-bottom: 60px;
		}
	}
	.specialization-item__icon{
		background: none;
		margin-bottom: 15px;
		width: 60px;
		height: 60px;
	}
}





